/* ==========================================================================
   Media Queries
   ========================================================================== */


@media only screen and (min-width: 980px) and (max-width: 1200px) {
.interior_howit_work.interior_howit_work_11 {
	background: transparent !important;
}
	.main_menu ul li {margin: 0 0.5%;}



	/* ========================== home ======================= */

	.headr_search {
	  float: left;
	  margin: 20px 0 0;
	  width: 248px;
	}
	.signin_list {
	  width: auto;
	}

	.signin_list ul li {
	  margin:10px 5px;
	}
	.banner-caption h2 {
	  font-size: 31px;
	  line-height: 43px;
	  padding: 4px 0 23px;
	}
	.banner-caption {
	width: 100%;
	top: 26px;
	}

	.featured_product ul li {
	margin: 0;
	width: 25%;
	vertical-align: top;
}

	.col-md-2.middle_dot {
	  display: block!important;
	}
	.featured_service .blog_sec.thumbnail {
	  padding: 12px;
	}

	.didnt_find,.didnt_find_1 {
	  width: 100%;
	}
	.blog_sec.thumbnail {
	  padding: 12px;
	}
	.didnt_find .blog_sec.thumbnail > img,.didnt_find_1 .blog_sec.thumbnail > img {
	  width: 80px;
	  margin-top:15px;
	}
	.didnt_find .blog_sec.thumbnail .caption,.didnt_find_1 .blog_sec.thumbnail .caption {
	  width: 64%;
	}
	.didnt_find .caption > span,.didnt_find_1 .caption > span {
	  font-size: 23px;
	}
	.col-md-2.middle_dot { display:none; }
	.c_slider_dx { margin:10px auto 0; width:100%; }
	.brands h3 { padding-left:0; width:100%; }
	.brands { padding:30px 0; width:100%; }
	.about_dreamsale { padding:20px 0; }


	.footer_left { float:left; width:100%; }
	.footer_left ul li { float:left; line-height:26px; padding:3px 10px; width:auto; }
	.footer-right_part { border-left:none; padding-left:0; }
	.footer-right_part li { width:31%; }
	.social_icon { float:right; margin:14px 9px; padding:0; width:94%; }
	.visa_card { font-size:20px; padding:20px 0; }
	.visa_card > img { width:100%; margin-top:10px; }
	.last_footer { margin:0; padding:0; width:100%; }
	.copy-right { margin-top:20px; }
	footer .col-md-7.col-sm-7 { display:table; }
	.social_icon ul li { margin-right:10px; }
	.footer-right_part ul li img { margin-left:9px; margin-right:9px; }

	/* ==================== signin ======================= */

	#loginbox, #signupbox { margin-left:20%; width:61%; }

	/* ====================== search result ====================== */

	.serch_txt_1.col-md-2.col-sm-4 { padding-right:0; width:25%; }
	.search_result_rightpart_1 h5 { font-size:14px; padding-left:0; }
	.search_result_rightpart_1 #products .list-group-item .caption { float:right; width:70%; }

	/* ====================== product_details ====================== */

	.ds_product_left { padding:17px 0; }
	.full-pic {  height:auto!important; }
	.lSSlideOuter .lSPager.lSGallery img { height:60px!important; }


	/* ===================== interior ======================= */

	.g_fancybox li { margin:10px 6px; width:22%; }
	.here_form { padding:0px 10px 15px; width:100%; }
	.here_form input[type="text"], .here_form input[type="email"], .here_form select, .here_form input[type="tel"] { margin-bottom:19px; }
	.int_howitwork > li {
	width: 16%;
}
.alert {
	min-height: 233px;
}

	/* ====================== 20-09-2017 ========================== */

	.logo { height:100px; }

	/* ======================== 21-11-2017 ========================== */
	
	.featured_product .featured_service ul li { border: 2px solid #f2f2f2; }
	.banner-caption h2 span { font-size:40px; padding:2px 0;margin:10px auto; width:59%; }

}

@media only screen and (min-width: 768px) and (max-width: 979px) {
.alert {
	min-height: 234px;
}
.interior_howit_work.interior_howit_work_11 {
	background: transparent !important;
}
	.main_menu ul li a {padding: 10px 3px; font-size:14px;}
	.main_menu ul li {margin: 0 0.2%;}
	.main_menu ul li .sub_menu { top:30px; }

	/* ========================== home ======================= */

	.headr_search {
	  float: right;
	  margin: 20px 0 0 30px;
	  width: 300px;
	}
	.signin_list {
	  width: auto;
	}
	.signin_list ul li {
	  margin-left: 36px;
	}
	.banner-caption h2 {
	font-size: 31px;
	line-height: 30px;
	padding: 4px 0 0;
	margin-bottom: 0;
	}
	.banner-caption {
	  width: 100%;
	}
	
	.featured_product ul li {
		margin: 0;
		width: 25%;
		vertical-align: top;
	} 
	
	
	.featured_product .featured_service ul li { border: 2px solid #f2f2f2; }
	
	.featured_service .blog_sec.thumbnail {
	  padding: 12px;
	}

	.didnt_find,.didnt_find_1 {
	  width: 100%;
	}
	.blog_sec.thumbnail {
	  padding: 12px;
	}
	.didnt_find .blog_sec.thumbnail > img,.didnt_find_1 .blog_sec.thumbnail > img {
	  width: 80px;
	  margin-top:15px;
	}
	.didnt_find .blog_sec.thumbnail .caption,.didnt_find_1 .blog_sec.thumbnail .caption {
	  width: 64%;
	}
	.didnt_find .caption > span,.didnt_find_1 .caption > span {
	  font-size: 23px;
	}
	.col-md-2.middle_dot { display:none; }
	.colon { left:12px; position:absolute; top:105px; z-index:2; }
	.clint_desc { float:left; margin:10px 0; padding:0; width:100%; }
	.c_slider_dx { margin:10px auto 0; width:100%; }
	.brands h3 { padding-left:0; width:100%; }
	.brands { padding:30px 0; width:100%; }
	.about_dreamsale { padding:20px 0; }


	.footer_left { float:left; width:100%; }
	.footer_left ul li { float:left; line-height:26px; padding:3px 10px; width:auto; }
	.footer-right_part { border-left:none; padding-left:0; }
	.social_icon { float:right; margin:14px 9px; padding:0; width:94%; }
	.visa_card { font-size:20px; padding:20px 0; }
	.visa_card > img { width:100%; margin-top:10px; }
	.last_footer { margin:0; padding:0; width:100%; }
	.copy-right { margin-top:20px; }
	footer .col-md-7.col-sm-7 { display:table; }
	.social_icon ul li { margin-right:10px; }


	/* ==================== signin ======================= */

	#loginbox, #signupbox { margin-left:20%; width:61%; }

	/* ====================== search result ====================== */

	.serch_txt_1.col-md-2.col-sm-4 { padding-right:0; width:30%; }
	.search_result_rightpart_1 h5 { font-size:14px; padding-left:0; }

	/* ====================== product_details ====================== */

	.ds_product_left { padding:17px 0; }
	.full-pic {  height:auto!important; }
	.lSSlideOuter .lSPager.lSGallery img { height:60px!important; }
	.plus_minus_counter { top:-20px; }
	.chngeclr .btn-danger { float:left; }


	/* ======================= interior ========================== */

	.interior_header .collapse.navbar-collapse { float:right; width:74%; }
	.interior_header .nav.navbar-nav a { padding:7px 5px; }
	.int_loge.navbar-brand { padding-top:0; }
	.jumbo_text { height:auto; left:90px; margin:auto; width:auto; }
	.btn.btn_int_cont { margin-top:13px; }



	.interior_gallery p { padding:0 0 39px; width:100%; }
	.g_fancybox li { margin:10px 2px; width:24%; }
	.g_fancybox h5 { font-size:16px; padding:12px 16px 0; }
	.interior_gallery p { width:82%; }
	.ds_col { display:table; width:100%; }
	.here_form { padding:10px 10px 30px; width:100%; }
	.interior_howit_work p {
	margin: 0 auto;
	padding: 0 0 23px;
	width: 100%;
	font-size: 12px;
}
	.int_howitwork > li { margin:0; vertical-align:top; width:30%; }
	.int_howitwork > li {
	margin: 54px 0 0;
	width: 19%;
	padding: 5px;
}
	.interior_howit_work { background-image:none; }

	/* ====================== 20-09-2017 ========================== */

	.logo { height:70px; }
	.logo img { margin:0; width:77px; }

	/* =================== 21-11-2017 ========================== */

	.featured_service::after { border-width:0 300px 50px; }
	.banner-caption h2 span {
	width: 50%;
	font-weight: 300;
	font-size: 30px;
	margin: 10px auto;
	}
	.banner-caption ul li:nth-child(1) a img { width:200px; }
	.banner-caption ul li:nth-child(2) a img {display:none; }
	.banner-caption ul li:nth-child(3) a img { width:200px; }
.interior_gallery h3, .interior_gallery a.h3, .interior_gallery a:hover {
	font-size: 14px;
}


/* ================== 06-12-2017 ================ */

.blk_order_2 { top:22%; }


}



@media only screen and (max-width: 767px) {
.alert {
	min-height: auto;
}
	.js #menu {display:none;}
	.js .slicknav_menu {display:block;}


	/* ======================= home_page =========================== */

.logo { border-right:medium none; margin:10px 0; text-align:center; }
.top_right_header {
  float: none;
  font-size: 10px;
  padding: 7px 0;
  text-align: center;
  width: 100%;
}

.headr_search {
  display: block;
  float: none;
  margin: 12px 0 0;
  width: 100%;
}
.signin_list {
  float: none;
  margin:10px 0;
  text-align: center;
  width: 100%;
}

.signin_list ul li { margin-right:8px; }
.banner-caption { width:100%; position:relative; }

.banner-caption h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  padding: 0;
  color:#474747;
}

.banner-caption ul li {
  display: inline-block;
  margin: 9px;
  width: 48%;
}

.banner-caption ul li:nth-child(2) { display:none; }
.featured_product { padding:38px 0; }
.featured_product ul li { margin:10px 0; width:100%; }
.blog_sec.thumbnail { border-left:1px solid #efefef; }
.featured_product ul li:nth-child(5) .blog_sec.thumbnail { border-right:1px solid #efefef; }
.blk_line { margin:43px 0 35px; }
.didnt_find {
  margin: 0;
  padding: 0;
  width: 100%;
}

.didnt_find .blog_sec.thumbnail .caption {
  float: left;
  width: 100%;
}

.didnt_find_1 .blog_sec.thumbnail > img {
  float: left;
}
.didnt_find_1 .blog_sec.thumbnail .caption {
  float: left;
  width: 100%;
}
.didnt_find_1 {
  float: left;
  margin: 0 0 30px 0;
  width: 100%;
}

.colon { left:12px; position:absolute; top:105px; z-index:2; }
.clint_desc { float:left; margin:10px 0; padding:0; width:100%; }
.c_slider_dx { margin:10px auto 0; width:100%; }
.brands h3 { padding-left:0; width:100%; }
.brands { padding:30px 0; width:100%; }
.prv_btn1_cxw,.nxt_btn1_cxw { top:52px; }
.about_dreamsale { padding:30px 0; width:100%; }
.about_dreamsale h3 { padding-bottom:20px; }
.footer_left { float:left; width:100%; }
.footer_left ul li { float:left; line-height:26px; padding:3px 10px; width:auto; }
.footer-right_part { border-left:none; padding-left:0; }
.social_icon { float:right; margin:14px 9px; padding:0; width:94%; }
.visa_card { font-size:20px; padding:20px 0; }
.visa_card > img { width:100%; margin-top:10px; }
.last_footer { margin:0; padding:0; width:100%; }
.copy-right { margin-top:20px; }
footer .col-md-7.col-sm-7 { display:table; }
.social_icon ul li { margin-right:10px; }

/* ==================== signin ======================= */

#loginbox,#signupbox { margin-left:0%; margin-top:60px; margin-bottom:60px; width:100%; }
#loginbox .panel-body,#signupbox .panel-body { padding-right:3px; }

/* ====================== search_ui ========================== */

.serch_txt.col-md-2.col-sm-2 { padding-bottom:20px; width:100%; }

/* ===================== search_result ====================== */

.serch_txt_1.col-md-2.col-sm-4 { width:100%; }
.rs_range { text-align:left; }
.search_result_rightpart_1 { padding-top:20px; }
.search_result_rightpart_1 .well.well-sm {
  background:none;
  border:none;
  box-shadow: none;
  left: 0;
  margin-bottom: 0;
  position: relative;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 1;
}
.search_result_rightpart_1 h5 { padding-left:0; }
.search_result_rightpart_1 .well.well-sm { text-align:left; }
.search_result_rightpart_1 #products { padding-left:0; }

.search_result_rightpart_1 .add_cart { width:100%; }


/* ======================= 11-09-2017 ========================== */

.search_result_rightpart_1 #products .list-group-item .caption { width:63%; }

/* ====================== product_details ====================== */

.ds_product_left { padding:17px 0; }
.full-pic {  height:auto!important; }
.lSSlideOuter .lSPager.lSGallery img { height:60px!important; }
.ds_prod_dtls { margin:15px 0 0; position:relative; width:100%; }
.plus_minus_counter { margin-bottom:20px; position:relative; }
.whs_pic_text2 a { margin-left:17px; }
.chngeclr h4 { width: 100%; }
.chngeclr .btn-danger { float:left; margin-top:15px; }
.tabel-section h4 { margin-bottom:0; margin-top:0; padding-left:9px; width:100%; }


/* ========================= interior ======================== */
.interior_header .nav.navbar-nav { background:#000; float:right; margin-right:0; width:90%; }
.interior_gallery p { padding:0 0 39px; width:100%; }
.g_fancybox li {
	margin: 10px 0;
	width: 90%;
	display: block;
}
.interior_gallery p { width:82%; }
.ds_col { display:table; width:100%; }
.here_form { padding:10px 10px 30px; width:100%; }
.interior_howit_work p { margin:0 auto; padding:0 0 23px; width:100%; }
.int_howitwork > li { margin:0; vertical-align:top; width:100%; }

.jumbo_text { height:auto; left:50px; margin:auto; width:auto; bottom:30px; }
.jumbo_text h2 { font-size:18px; font-weight:600; margin:0; }
.jumbo_text h4 { font-size:18px; font-weight:300; margin:0; }
.btn.btn_int_cont { margin-top:13px; }
.interior_howit_work.interior_howit_work_11 { background: transparent !important; }

/* =================== 21-11-2017 ========================== */

.featured_service::after { border-width:0 100px 50px; }
.featured_product .featured_product_1 ul li:nth-child(1) .blog_sec.thumbnail { height:auto; padding-bottom:25px; }
.featured_product .featured_product_1 ul li:nth-child(1) .blog_sec.thumbnail h3 { font-size:20px; margin:14px auto 22px; }
.banner-caption h2 span { font-size:20px; color:#fff; padding:5px 0; }
.footer-right_part ul li img {
	/* float: left; */
	display: block;
}

}


@media only screen and (max-width: 479px) {
.interior_howit_work.interior_howit_work_11 {
	background: transparent !important;
}

/* ======================= home_page =========================== */

.logo { border-right:medium none; margin:10px 0; text-align:center; }
.top_right_header {
  float: none;
  font-size: 10px;
  padding: 7px 0;
  text-align: center;
  width: 100%;
}

.headr_search {
  display: block;
  float: none;
  margin: 12px 0 0;
  width: 100%;
}
.signin_list {
  float: none;
  margin:10px 0;
  text-align: center;
  width: 100%;
}

.signin_list ul li { margin-right:8px; }
.banner-caption { width:100%; position:relative; }
.banner-caption h2 {
  font-size:19px;
  font-weight: 700;
  line-height: 32px;
  padding: 0;
  color:#474747;
}
.banner-caption ul li {
  display: inline-block;
  margin: 9px;
  width: 48%;
}

.banner-caption ul li:nth-child(2) { display:none; }
.featured_product { padding:38px 0; }
.featured_product ul li { margin:10px 0; width:100%; }
.blog_sec.thumbnail { border-left:1px solid #efefef; }
.featured_product ul li:nth-child(5) .blog_sec.thumbnail { border-right:1px solid #efefef; }
.blk_line { margin:43px 0 35px; }
.didnt_find {
  margin: 0;
  padding: 0;
  width: 100%;
}

.didnt_find .blog_sec.thumbnail .caption {
  float: left;
  width: 100%;
}

.didnt_find_1 .blog_sec.thumbnail > img {
  float: left;
}
.didnt_find_1 .blog_sec.thumbnail .caption {
  float: left;
  width: 100%;
}
.didnt_find_1 {
  float: left;
  margin: 0 0 30px 0;
  width: 100%;
}

.colon { left:12px; position:absolute; top:30px; z-index:2; }
.clint_desc { float:left; margin:10px 0; padding:0; width:100%; }
.c_slider_dx { margin:10px auto 0; width:100%; }
.brands h3 { padding-left:0; width:100%; }
.brands { padding:30px 0; width:100%; }
.prv_btn1_cxw,.nxt_btn1_cxw { top:52px; }
.about_dreamsale { padding:30px 0; width:100%; }
.about_dreamsale h3 { padding-bottom:20px; }
.footer_left { float:left; width:100%; }
.footer_left ul li { float:left; line-height:26px; padding:3px 10px; width:auto; }
.footer-right_part { border-left:none; padding-left:0; }
.social_icon { float:right; margin:14px 9px; padding:0; width:94%; }
.visa_card { font-size:20px; padding:20px 0; }
.visa_card > img { width:100%; margin-top:10px; }
.last_footer { margin:0; padding:0; width:100%; }
.copy-right { margin-top:20px; }
footer .col-md-7.col-sm-7 { display:table; }
.social_icon ul li { margin-right:10px; }


/* ==================== signin ======================= */

#loginbox,#signupbox { margin-left:0%; margin-top:60px; margin-bottom:60px; width:100%; }
#loginbox .panel-body,#signupbox .panel-body { padding-right:3px; }

/* ====================== search_ui ========================== */

.serch_txt.col-md-2.col-sm-2 { padding-bottom:20px; width:100%; }


/* ===================== search_result ====================== */

.serch_txt_1.col-md-2.col-sm-4 { width:100%; }
.rs_range { text-align:left; }
.search_result_rightpart_1 { padding-top:20px; }
.search_result_rightpart_1 .well.well-sm {
  background:none;
  border:none;
  box-shadow: none;
  left: 0;
  margin-bottom: 0;
  position: relative;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 1;
}
.search_result_rightpart_1 h5 { padding-left:0; }
.search_result_rightpart_1 .well.well-sm { text-align:left; }
.search_result_rightpart_1 #products { padding-left:0; }


/* ====================== product_details ====================== */

.ds_product_left { padding:17px 0; }
.full-pic {  height:auto!important; }
.lSSlideOuter .lSPager.lSGallery img { height:60px!important; }
.ds_prod_dtls { margin:15px 0 0; position:relative; width:100%; }
.plus_minus_counter { margin-bottom:20px; position:relative; }
.whs_pic_text2 a { margin-left:17px; }
.chngeclr h4 { width: 100%; }
.chngeclr .btn-danger { float:left; margin-top:15px; }
.tabel-section h4 { margin-bottom:0; margin-top:0; padding-left:9px; width:100%; }

/* ========================= interior ======================== */
.interior_header .nav.navbar-nav { background:#000; float:right; margin-right:0; width:90%; }
.interior_gallery p { padding:0 0 39px; width:100%; }
.g_fancybox li { margin:10px 0; width:90%; display: block; }
.interior_gallery p { width:82%; }
.ds_col { display:table; width:100%; }
.here_form { padding:10px 10px 30px; width:100%; }
.interior_howit_work p { margin:0 auto; padding:0 0 23px; width:100%; }
.int_howitwork > li { margin:0; vertical-align:top; width:100%; }

.jumbo_text { height:auto; left:50px; margin:auto; width:auto; top:15px; }
.jumbo_text h2 { font-size:18px; font-weight:600; margin:0; }
.jumbo_text h4 { font-size:18px; font-weight:300; margin:0; }
.btn.btn_int_cont { margin-top:13px; }
.btn.btn-warning.submit {
	padding: 8px 16px;
}
.interior_gallery h3, .interior_gallery a.h3, .interior_gallery a:hover {
	font-size: 14px;
}

/* =================== 21-11-2017 ========================== */

.featured_service::after { border-width:0 100px 50px; }
.featured_product .featured_product_1 ul li:nth-child(1) .blog_sec.thumbnail { height:auto; padding-bottom:25px; }
.featured_product .featured_product_1 ul li:nth-child(1) .blog_sec.thumbnail h3 { font-size:20px; margin:14px auto 22px; }
.banner-caption h2 span { font-size:20px; color:#fff; padding:5px 0; }


/* ================ 06-12-2017 ====================== */

.blk_order_1 { top:9%; }
.blk_order_2 { top:35%; }


}
