@charset "utf-8";
/* CSS Document */

/* Float Elements
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}


.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

ol,ul,p,h1,li,h2,h3,h4 {
	list-style:none;
	margin:0;
	padding:0;
}

a,img a,img,a img {
	border:0;
	outline:0;
	text-decoration:none;
}
a {
	transition:all 300ms ease-in-out;
  -o-transition:all 300ms ease-in-out;
  -moz-transition:all 300ms ease-in-out;
  -webkit-transition:all 300ms ease-in-out;
  color:#474747;
  }



a:hover { text-decoration:none; }
img {max-width:100%; height:auto;}

p, label { font-family: 'Roboto', sans-serif!important; font-weight:400; }


/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}
figure {
    margin: 0;
}

.mdlfrout .modal-content
{
width:100%;
float:left;
border:0;
border-radius:0;
    background: #52a554;
}


.mdlfrout .modal-header
{
width:100%;
float:left;
border:0;
border-radius:0;
}


.mdlfrout .modal-body
{
width:100%;
float:left;
border:0;
border-radius:0;
    padding-top: 0;
}
.mdlfrout .modal-body span , .mdlfrout .modal-body p
{
width:100%;
float:left;
text-align:center;
font-size:26px;
}

 .mdlfrout .modal-body a
{
 background: transparent !important;
    border: 0  !important;
    float: none  !important;
    height: auto  !important;
    color: #d0fed1  !important;
    text-decoration: none  !important;
    padding: 0; text-decoration:none  !important;
    width:auto  !important;
}
.mdlfrout .modal-footer
{
width:100%;
float:left;
border:0;
border-radius:0;
}


/* Primary Styles
---------------------------------*/
.se-pre-con {
     position: fixed;
     left: 0px;
     top: 0px;
     width: 100%;
     height: 100%;
     z-index: 99999;
     background: url(../images/loader_wing.gif) center no-repeat #fff;
}
body {
	background:#fff;
	font-size:15px;
	font-weight:normal;
	color:#777c81;
	margin:0;
	padding:0;
	/* font-family: 'Montserrat', sans-serif!important; */
	font-family: 'Oswald', sans-serif!important;
	}
.slicknav_menu {
	display:none;
	}
/* ===================== Header ===================== */

header {
	width: 100%;
	background: #fff;
	padding: 0;
	/* font-family: 'Montserrat', sans-serif !important; */
	padding-bottom: 5px;
	box-shadow: 2px 2px 22px #888888;
}
.header_top { padding:0; }
.logo {
	width: 100%;
	margin: 0;
	/*border-right: 1px solid #d74113;*/
	border-right: 0;
	margin: 0;
	text-align: center;
	padding: 9px 0;
}
.logo img {
	width: 175px;
	margin: 0;
}
.right_header { width:100%; margin:0; }

/*# sourceMappingURL=style.css.map */
marquee.marquee  img {
	margin-right: 65px;
}

.bvoxc_luk {
	width: 100%;
	float: left;
	padding: 20px 15px;
	border-radius: 7px;
	margin-bottom: 20px;
	box-shadow:2px 2px 10px #999;
}
.bvoxc_luk h4 {
	width: 100%;
	float: left;
	color: #000 !important;
	font-size: 20px !important;
	text-align: left !important;
	letter-spacing: 0 !important;
}
.bvoxc_luk p
{
width:100%  !important;
float:left;
color:#434343;
font-size:15px !important;
padding-bottom:0 !important;
min-height: 72px !important;
text-align:left !important;

}

h1.outofstcak
{
    background: #fff200;
    color: #d74113 ;
    font-weight: 300;
    text-transform: uppercase;
    width: 100%;
    float: left;
    padding: 20px 0;
}
/* ====================== dropdown ===================== */

.product_dropdown.dropdown button {
	border: none;
	font-size: 16px;
	font-weight: 500;
	background: #fff;
}
.product_dropdown.dropdown button:hover { background:none; }
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  background-color:#fff!important;
  border-color:none;
  color: #333;
}
.product_dropdown.dropdown button .caret { margin-left:5px; }
.Services_dropdown.dropdown button {
	border: none;
	font-size: 16px;
	font-weight: 500;
	background: #fff;
}
.Services_dropdown.dropdown button:hover { background:none; }
.Services_dropdown.dropdown button .caret { margin-left:5px; }

.product_dropdown.dropdown {
	display: block;
	float: left;
	padding: 3px;
	width: 121px;
	margin-right: 20px;
	margin-top: 0;
}
.clsfrdrpdwn
{
  position: relative
}

.Services_dropdown.dropdown {
  display: block;
  float: left;
  padding: 3px;
  width: 121px;
  margin-top:0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
/* ====================== end dropdown ================== */

.stylish-input-group .input-group-addon {
	background: #d74113 !important;
	border-radius: 0 30px 30px 0;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button {
	border: 0;
	background: transparent;
	color: #fff;
}
.headr_search {
  display: block;
  float: left;
  margin: 0 0 0 30px;
  width: 45%;

}
.headr_search input[type="text"] {
	background: #fff;
	height: 42px;
	font-family: 'Montserrat', sans-serif !important;
	border: none;
	border-radius: 30px 0 0 30px;
	border:1px solid #ccc;
	border-right:none;
	outline: none;
	box-shadow: none;
}
.headr_search .input-group-addon { border:none; }

.signin_list {
	color: #161616;
	float: right;
	font-family: "Montserrat",sans-serif;
	font-weight: normal;
	margin: 10px 0 0;
	width: 365px;
	text-align: center;
}

.top_right_header {
	background: #d74113;
	border-radius: 0 0 8px 8px;
	color: #fff;
	float: right;
	text-align: center;
	width: 390px;
	padding: 2px 0;
	font-size: 14px;
}
.top_right_header i { font-size:18px; margin-right:10px;}
.signin_list ul li { width:auto; display:inline-block; margin-right:20px; cursor: pointer; }

.account_drop.dropdown-menu li {
	width: 100%;
}

.account_drop.dropdown-menu li a { font-size:15px; padding:10px; color:#000; }
.account_drop.dropdown-menu li a:hover { background:#d74113; color:#fff; }



.signin_list ul li a {
  color:#161616;
  font-family: 'Montserrat', sans-serif!important;
  font-weight:normal;
  text-decoration:none; outline:none;
}
.navigation {
	width:100%;
	background:#09367a;
	}
.main_menu ul {
	text-align:center;
	margin:0;
	}
.main_menu ul li {
	display:inline-block;
	margin:0 1%;
	position:relative;
	}
.main_menu ul li a {
	display:block;
	color:#fff;
	text-transform:uppercase;
	padding:10px 7px;
	font-weight:normal;
	font-size:18px;
	}
.main_menu ul li a:hover, .main_menu ul li.active a {
	text-decoration:none;
	color:#74cbff;
	}
.main_menu ul li .sub_menu {
	position:absolute;
	width:200px;
	left:0;
	top:39px;
	z-index:999;
	background:#09367a;
	display:none;
	}
.main_menu ul li .sub_menu li {
	display:block;
	text-align:left;
	position:relative;
	}
.main_menu ul li .sub_menu li a {
	font-size:13px;
	padding:7px 7px;
	}
.main_menu ul li .sub_menu li .sub_menu2 {
	position:absolute;
	left:195px;
	top:0;
	width:200px;
	background:#09367a;
	display:none;
	}
.main_menu ul li:hover .sub_menu{
	display:block;
	}
.main_menu ul li .sub_menu li:hover .sub_menu2{
	display:block;
	}

/* ======================== top_banner ======================== */

.top_banner {
	margin-top: 0;
	position: relative;
	width: 100%;
}
.banner-caption {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width:100%;
}
.banner-caption h2 {
  color: #fff;
  font-family: "Montserrat",sans-serif;
  font-size: 36px;
  font-weight: 700;
  padding: 72px 182px 10px;
  line-height:65px;
  text-transform: uppercase;

}

.banner-caption h2 span {
	width: 50%;
	display: block;
	font-weight: 300;
	font-size: 55px;
	text-shadow: 2px 0 0 #d74113, -2px 0 0 #d74113, 0 2px 0 #d74113, 0 -2px 0 #d74113, 1px 1px #d74113, -1px -1px 0 #d74113, 1px -1px 0 #d74113, -1px 1px 0 #d74113;
	background:#d74113;
	border-radius:10px 0;
	margin:10px auto;
}



.banner-caption ul { width:100%; text-align:center; }
.banner-caption ul li {
  display: inline-block;
  margin: 9px;
  width: auto;
}


/* ============== top_slider ===============  */

.top_slider_sec {
  width:100%;
  margin:0;
  padding:0;
  position:relative;
  height:30%;
}
.alert {
    min-height: 210px;
}
.bvoxc_luk_2.alert
{
min-height:auto;
}
.top_slider {
	width:100%;
	height:100px;
	overflow:hidden;
	}
.top_slide {
	position:relative;
	float:left;
  }
  .top_slide img
  {
    width: 100%;
    max-height:200px;
  }
.pager_top {
	position:absolute;
	width:100%;
	left:0;
	bottom:20px;
	text-align:center;
	z-index:99;
	}
.pager_top a {
	display:inline-block;
	margin:0 5px;
	text-indent:-3000px;
	width:12px;
	height:12px;
	background:url(../images/pager_bullet.png) no-repeat left top;
	}
.pager_top a:hover,.pager_top a.selected {
	background-position:left -12px;
	}
.top_b_prev {
	bottom: 24px;
	cursor: pointer;
	left: 33%;
	position: absolute;
	z-index: 99;
	}
.top_b_next {
	bottom: 24px;
	cursor: pointer;
	right: 33%;
	position: absolute;
	z-index: 99;
	}

/* =============== end top_slider =========== */



/* ======================== featured_product ============================= */

.featured_product {
	width: 100%;
	text-align: center;
	padding: 0px 0 70px;
	font-family: "Montserrat",sans-serif;
	background: #fff;
}
.featured_product h3 { margin:0 auto 60px; }
.featured_product ul li { width:19%; display:inline-block; margin:10px 4px; }
.featured_product ul li:nth-child(5) .blog_sec.thumbnail { border-right:none; }
.blog_area {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 60px 0;
    display: table;
}
.featured_product .featured_product_1 ul li:nth-child(1)
{
vertical-align: top;
/* background:#eee; */
}

.featured_product .featured_product_1 {
	padding-bottom: 29px;
	display: table;
	width: 100%;
}

.featured_product .featured_product_1 ul li:nth-child(1) .blog_sec.thumbnail
{
height:245px;
border:0;

background: #0084b0; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #0084b0 0%, #00658b 99%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #0084b0 0%,#00658b 99%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #0084b0 0%,#00658b 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

/* -webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg); */
border-radius: 50px 0;


}


.featured_product .featured_product_1 ul li:nth-child(1) .blog_sec.thumbnail h3 {
	font-size: 16px;
	margin: 55px auto 29px;
	color: #fff;
	border: 1px solid #309cc1;
	padding: 13px 0;
	text-transform:uppercase;
	font-weight:300;
}

.featured_product .featured_product_1 ul li:nth-child(1) .blog_sec.thumbnail .btn-warning {
	width: 100%;
	background: #d74113;
	border: 1px solid #d74113;
}
.featured_service ul li p a
{
text-decoration:none;
}
.blog_area h5 {
    color: #333333;
    display: block;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0 auto 15px;
    width: 100%;
}
.blog_sec.thumbnail {
    border-top: 0;
	border-bottom: 0;
    border-right: 1px solid #efefef;
    border-left: 0;
    display: table;
    border-radius: 0;
    width: 100%;
	padding: 12px 25px;
	position:relative;
	margin-bottom:0;
}
.blog_sec.thumbnail .caption {
    position: relative;
    padding: 0;
}
.blog_sec.thumbnail h4 {
    color: #0f0f0f;
	font-weight:300;
    text-align: left;
    background: none;
    display: block;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 0px;
    width: 100%;
	text-transform:uppercase;
}
.caption > span {
  display: block;
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  padding:10px 0 0;
}


.blog_sec.thumbnail p {
	float: left;
	font-size: 13px !important;
	padding: 10px 0;
	width: 100%;
	font-weight: 400;
	text-align: left;
	color: #d74113;
	line-height: 19px !important;
	letter-spacing: 0 !important;
}
.dtrp {
	background: #67bf8e;
	height: 28px;
	position: absolute;
	text-align: center;
	top: -10px;
	width: 90px;
	right: 18px;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	z-index: 1;
	line-height: 27px;
	border-radius: 18px;
	letter-spacing: 1px;
}
.dtrp > span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 19px;
}
.blog_sec.thumbnail > img {
	height: 125px !important;
	width: 148px;
}
.add_cart {
  border-top: 1px solid #ccc;
  margin: 0 auto;
  padding-top: 13px;
  width: 80%;
  color:#686868;
  letter-spacing:1px;
  font-size:15.5px;
  font-weight:500;
}

.add_cart a {
	color: #686868;
	text-decoration: none;
	outline: none;
	background: #ddd;
	border-radius: 5px;
	padding: 5px 10px;
}
.add_cart a:hover { color:#686868; text-decoration:none; outline:none; }
.all_product_btn {
	width: 100%;
	text-align: center;
	color: #0f0f0f;
	font-size: 14px;
	outline: none;
	text-decoration: none;
	background: url(../images/ap_btn.jpg) repeat-x;
	border-radius: 10px;
	display: block;
	height: 53px;
	line-height: 54px;
	font-weight: 500;
	letter-spacing: 0px;
	margin-top: 30px;
}
.all_product_btn:hover { text-decoration:none; outline:none; background:url(../images/ap_btn_h.jpg) repeat-x; color:#0f0f0f; }
.all_product_btn { width:100%; text-align:center; }

/* ==================== featured_service ===================== */

.blk_line { margin:82px 0 70px; }
.featured_service { background-color:#f4f4f4; display:table; padding:35px 0; position:relative; border-radius:25px 25px 0 0; }

.featured_service::after {
  border-color: transparent transparent #f4f4f4;
  border-style: solid;
  border-width: 0 400px 50px;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: -50px;
  transform: translateX(-50%);
  width: 0;
}


.featured_service h3 { margin:0 auto 60px; }
.featured_service ul li {
	width: 22%;
	/* display: inline-block; */
	margin: 10px 15px;
	float: left;
}
.featured_service .blog_sec.thumbnail {
    border-top: 0;
	border-bottom: 0;
    border-right:0;
    border-left: 0;
    display: table;
    border-radius: 0;
    width: 100%;
	padding: 12px 25px;
	position:relative;
	margin-bottom:0;
	    min-height: 270px;
}

.featured_service .blog_sec.thumbnail > img {
    height:auto;
    width: 100%;
}

.featured_service .caption > span {
	display: block;
	font-size: 18px;
	font-weight: 600;
	text-align: left;
	letter-spacing: 0px;
	padding: 17px 0 5px;
}

.featured_service .blog_sec.thumbnail p {
    float:left;
    font-size:15px;
    padding:0 0 5px 0;
    width:100%;
    font-weight:300;
    text-align: left;
    color:#111111;
    line-height:22px;
}
.featured_service .blog_sec.thumbnail > a {
  color: #f9ba48;
  display: block;
  font-size: 16px;
  margin: 0;
  outline:none;
  padding: 0 0 5px 0;
  text-align: left;
  text-decoration: underline;
  width: 100%;
}


/* ====================== middle_icon_area ======================= */

.middle_icon_area { width:100%; padding:0; background:#dba84c; text-align:center; }

.didnt_find {
  float: right;
  margin: 30px 0;
  padding: 0;
  width: 85%;
}
.middle_icon_area .blog_sec.thumbnail { background:none; border:none; }
.didnt_find .blog_sec.thumbnail > img {
	height: auto;
	width: auto;
	float: left;
	margin-top: 25px;
}
.didnt_find .blog_sec.thumbnail .caption { padding:0; position:relative; width:60%; float:right; }
.didnt_find .caption > span { font-size:30px; }
.didnt_find .blog_sec.thumbnail p { color:#010101; }
.didnt_find .caption > a { background:#80201a; color:#fff; font-size:16px; text-align:center; text-decoration:none; outline:none; padding:8px 25px; border-radius:5px;
font-weight:600; margin-top:30px; display:table; }

.didnt_find_1 {
  float: left;
  margin: 30px 0;
  padding: 0;
  width: 85%;
}
.middle_icon_area .blog_sec.thumbnail { background:none; border:none; }
.didnt_find_1 .blog_sec.thumbnail > img {
	height: auto;
	width: auto;
	float: right;
	margin-top: 25px;
}
.didnt_find_1 .blog_sec.thumbnail .caption { padding:0; position:relative; width:60%; float:left; }
.didnt_find_1 .caption > span { font-size:30px; }
.didnt_find_1 .blog_sec.thumbnail p { color:#010101; }
.didnt_find_1 .caption > a { background:#80201a; color:#fff; font-size:16px; text-align:center; text-decoration:none; outline:none; padding:8px 25px; border-radius:5px;
font-weight:600; margin-top:30px; display:table; }
.middle_dot {
  display: inline-block;
  width: 20px;
}




.knowhow_icon_area { width:100%; padding:0; background:#000; text-align:center; color:#fff }

.didnt_find {
  float: right;
  margin: 30px 0;
  padding: 0;
  width: 85%;
}
.knowhow_icon_area .blog_sec.thumbnail { background:none; border:none; }
.didnt_find .blog_sec.thumbnail > i {
	height: auto;
	width: auto;
	float: left;
	margin-top: 25px;
}
.didnt_find .blog_sec.thumbnail .caption { padding:0; position:relative; width:60%; float:right; }
.didnt_find .caption > span { font-size:30px; }
.didnt_find .blog_sec.thumbnail p { color:#010101; }
.didnt_find .caption > a { background:#80201a; color:#fff; font-size:16px; text-align:center; text-decoration:none; outline:none; padding:8px 25px; border-radius:5px;
font-weight:600; margin-top:30px; display:table; }

.didnt_find_1 {
  float: left;
  margin: 30px 0;
  padding: 0;
  width: 85%;
}
.knowhow_icon_area .blog_sec.thumbnail { background:none; border:none; }
.didnt_find_1 .blog_sec.thumbnail > i {
	height: auto;
	width: auto;
	float: right;
	margin-top: 25px;
}
.didnt_find_1 .blog_sec.thumbnail .caption { padding:0; position:relative; width:60%; float:left; }
.didnt_find_1 .caption > span { font-size:30px; }
.didnt_find_1 .blog_sec.thumbnail p { color:#010101; }
.didnt_find_1 .caption > a { background:#80201a; color:#fff; font-size:16px; text-align:center; text-decoration:none; outline:none; padding:8px 25px; border-radius:5px;
font-weight:600; margin-top:30px; display:table; }
.middle_dot {
  display: inline-block;
  width: 20px;
}



/* ========================= how_it_works ============================ */

.how_it_works { padding:70px 0; width:100%; text-align:center; position:relative; }
.smples
{
float:right;
}
/* ========================== testimonials ===================== */

.testmonials { width:100%; background:#dba84c; padding:70px 0 20px; border-bottom:0 solid #cf9c40; }

.c_slider_dx {
    position: relative;
    width:80%;
    margin: 10px auto 50px;
    text-align: center;
    /* background: #fff; */
}

.c_slider_dx h3 { text-align:left; color:#000; font-size:22px; letter-spacing:1px; }
.c_slider_dx ul {
    list-style: none;
    margin:50px 0 0 0;
    padding: 0;
    text-align: center;
    position: relative;
    height: 382px;
    overflow: hidden;
}
.c_slider_dx ul li {
    display: inline-block;
    margin:26px 9px;
    width: 207px;
    height: auto;
    overflow: hidden;
    vertical-align: top;
}
.prv_btn1_cxw {
    position: absolute;
    right:90px;
    top:0;
    cursor: pointer;
    z-index: 3;
    opacity: 0.9;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transform: scale(1);
    transition: 0.4s;
}
.prv_btn1_cxw:hover {
    opacity: 10;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transition: .4s;
}
.nxt_btn1_cxw {
    position: absolute;
    right: 20px;
    top:0;
    cursor: pointer;
    z-index: 3;
    opacity: 0.9;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transform: scale(1);
    transition: 0.4s;
}
.nxt_btn1_cxw:hover {
    opacity: 10;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transition: 0.4s;
}
.cl_gslider_sec li span {
    cursor: pointer;
}
.cl_gslider_sec img {
    display: inline-block;
}

.rvu {
  float: left;
  height: 110px;
  margin-right: 10px;
  width: 110px;
  margin-top:50px;
}

.rvu img { height:110px; width:110px; border-radius:10px; }
.clint_desc {
    width:85%;
    float: right;
    margin: 0;
    padding: 0;

}

.cl_gslider_sec li p {
  color: #000;
  float: left;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height:32px;
  padding: 0;
  width: 100%;
}
.colon {
  left:80px;
  position: absolute;
  top:66px;
  z-index:2;
}


/* =================== brands ===================== */

.brands { width:100%; background:#141414; padding:30px 0; }
.brands h3 {
	color: #dba84c;
	width: 100%;
	padding-left: 130px;
	margin-top: 0;
	/* text-align: left; */
}
.brand_pic {
  padding: 30px 0;
  text-align: center;
  width: 100%;
}

/* =================== about_dreamsale ===================== */

.about_dreamsale { width:100%; position:relative; padding:70px 160px; margin:0; height:auto; min-height:500px; color:#fff;
background: url(../images/crane.jpg) no-repeat center fixed;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}
.about_dreamsale h3 { padding-bottom:40px; }
.about_dreamsale h5 { font-size:20px; }



/* ========================= footer ========================= */

.dreamsale footer {
	width: 100%;
	background: #fff;
	padding: 50px 0;
	border-top: 1px solid #eaeaea;
	padding-bottom: 0;
}
.footer_left {
	float: right;
	margin: 0;
	padding: 0;
	width: 100%;
	padding-top: 10px;
}
.footer_left ul { width:100%; }
.footer_left ul li { width:48%; float:left; line-height:30px; text-transform:uppercase; }
.footer_left ul li a { color:#666666; outline:none; text-decoration:none; font-size:12px; }

.social_icon {
	float: right;
	margin: 20px 0;
	padding: 0;
	width: 100%;
}
.social_icon ul { width:100%; }
.social_icon ul li { width:auto; float:left; line-height:30px; font-size:13px; color:#666666; margin-right:20px; }
.footer-right_part {
	border-left: 2px solid #b4b4b4;
	margin: 0;
	padding-left: 52px;
	width: 100%;
	padding-top: 10px;
}
.footer-right_part ul { width:100%; display:table; }
.footer-right_part li { color:#666666; border-right:1px solid #dddddd; float:left; width:28%; margin-right:10px; line-height:30px; font-weight:400; }
.footer-right_part ul li img { float:left; margin-left:15px; margin-right:15px; }
.visa_card { padding: 47px 0 0; }
.visa_card > img { width:62%; }
.last_footer {
	padding: 32px 0 0px 0px;
	display: table;
	margin: 21px auto;
	width: 100%;
}
.last_footer ul { margin:0; width:100%; }
.last_footer ul li { margin:0; width:auto; float:left; margin:3px; font-size:10px; }
.last_footer ul li a,.last_footer ul li a:hover { font-size:11px; color:#6e6e6e; text-decoration:none; outline:none; line-height:0; }
.copy-right { background:#c3c3c3; padding:5px; text-align:center; width:100%; color:#474747; font-size:13px; }


/* ======================= signin / signup ======================== */

.inner_header { background:#0c0c0c; padding-bottom:22px; }
.inner_header .btn.btn-default.dropdown-toggle { background:none; color:#f5f5f5; }
.inner_header .product_dropdown.dropdown.open .inner_header .btn.btn-default.dropdown-toggle { background:none!important; color:#f5f5f5; }



.inner_header .product_dropdown.dropdown.open .btn.btn-default.dropdown-toggle,.inner_header .Services_dropdown.dropdown.open .btn.btn-default.dropdown-toggle { color:#474747; }


.inner_header .signin_list ul li a { color:#f5f5f5; }
#signupbox { background:#f5f7f9; border:1px solid #b7b7b7; margin-left:33%; margin-top:60px; margin-bottom:60px; width:430px; }
#signupbox .panel.panel-info { background:none; border:none; }
.form_panel-heading .panel-title { font-size:33px; padding:15px 0; text-align:center; }
#signupbox input[type=text] { border-radius:0; height:38px; font-size:13px; }
#signupbox i { color:#b5b6b8; font-size:15px; margin:3px 0 0; }
#signupbox #btn-signup { width:100%; padding:8px 0; font-size:15px; text-transform:uppercase; font-weight:600; margin:20px 0 20px; }
#signinlink { color:#474747; display:block; text-align:center; text-decoration:underline; width:100%; }
#signupbox h5 { font-weight:400; text-align:center; }

#loginbox .panel-body,#signupbox .panel-body { padding-left:0; padding-bottom:0; padding-right:30px; }
#loginbox .panel.panel-info,#signupbox .panel.panel-info { margin-bottom:0; padding-bottom:30px; }


#loginbox { background:#f5f7f9; border:1px solid #b7b7b7; margin-left:33%; margin-top:60px; margin-bottom:60px; width:430px; }
#loginbox .panel.panel-info { background:none; border:none; }
#loginbox input[type=text] { border-radius:0; height:38px; font-size:13px; }
#loginbox i { color:#b5b6b8; font-size:15px; margin:3px 0 0; }
#loginbox #btn-login { width:100%; padding:8px 0; font-size:15px; text-transform:uppercase; font-weight:600; margin:10px 0 20px; }
#loginbox h5 { font-weight:400; text-align:center; }
.forgot-pass { color:#474747; float:right; }
.sihnup_hr > a {  display:block; text-align:center; width:100%; text-decoration:underline; color:#474747; }

/* ========================== search_ui ============================ */

.search_outer_part { padding:50px 0; width:100%; }
.serch_txt.col-md-2.col-sm-2 { width:15%; padding-right:0; }
.serch_txt a { color:#474747; }
.serch_txt i { margin-right:10px; }
.search_result_rightpart { border-left:2px solid red; }
.search_result_rightpart h5 { margin:0; font-size:16px; }
.search_info {
  margin: 30px 0 0;
  padding: 0;
  width:85%;
}

.search_info h4 {
  font-size: 17px;
  font-weight: 500;
  text-decoration: underline;
}

.search_info p {
  font-size: 15px;
  color:#909090;
}
.search_info > a {
  color: red;
  font-size: 12px;
}

.search_result_rightpart .pager { padding-left:6px; }
.search_result_rightpart .pager li { float:left; margin:0 0 0 10px; font-weight:500; }
.search_result_rightpart .pager li a { background:none; border:none; padding:0; color:#474747; font-weight:500; }
.search_result_rightpart .pager li.active a { background:none; color:red; text-decoration:underline; }
.search_result_rightpart .pager li a:hover { background:none; color:red; }


/* ========================== search_result ============================ */

.search_rslt_outer_part { padding:30px 0; width:100%; }
.search_result_rightpart_1 {  position:relative; }
.search_result_rightpart_1 h5 {
  border-bottom: 1px solid #e5e5e5;
  font-size: 16px;
  margin: 0 0 32px;
  padding-bottom: 10px;
  padding-left:70px;
}

.serch_txt_1.col-md-2.col-sm-4 { width:15%; padding-right:0; }
.serch_txt_1 a {
  border-bottom: 1px solid #e5e5e5;
  color: #474747;
  font-size: 13px;
  padding-bottom:10px;
}

.serch_txt_1 a:hover { text-decoration:none; }
.serch_txt_1 i { margin-right:5px; }
.serch_txt_1.col-md-2.col-sm-4 span { color:#474747; }



#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
		border-bottom:1px solid #ccc;
		width: 95%;
    }

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 0px;
		color:#474747;
		box-shadow:none!important;
    }

	 #custom-search-input .form-control:focus {
		border-color: #66afe9;
		outline: 0;
		-webkit-box-shadow: none!important;
		box-shadow: none!important;
	}

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left:0px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#474747;

    }

    .search-query:focus + button {
        z-index: 3;
    }
	#custom-search-input .search-query { border:none; }

	.heading_name {
	  color: red;
	  font-size: 14px;
	  padding: 20px 0 0;
	}

	.mnupic_smll.checkbox.checkbox-warning {
	  margin: 10px 0;
	}

	.mnu_dv {
	  border-bottom: 1px solid #ccc;
	  margin-top:0px;
	  padding-bottom: 15px;
	  width: 95%;
	}

	.styled.chkPassport {
	  outline:none!important;
	}

	.rs_range {
	  margin:10px 0;
	  width: 100%;
	  text-align:center;
	}
	.rs_range input[type=text] { display:inline-block; border-radius:3px; width:70px; border:1px solid #e5e5e5; padding:5px; }
	.mnu_dv_1 {
	  margin-top:0px;
	  padding-bottom: 15px;
	  width: 95%;
	}


.callback-offset-back{
	top: 0;
	height: 50px;
	border-bottom: 1px dashed #ffed0d;
}

.callback-offset{
	bottom: 0;
	height: 60px;
	border-top: 1px dashed #ffed0d;
}

code{
	color: #caaee1;
	font-family: monospace;
}

#examples{
	background-color: #191919;
	background-color: rgba(0,0,0,0.3);
	padding: 5px;
	margin: 10px 0;
	overflow: hidden;
}

#examples > hr{ margin: 20px 10px; }

.content{
	overflow: auto;
	position: relative;
	padding:0;
	margin:0;
	width:100%;
	height: 400px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.content.hidden{ display: none; }

.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.search_result_rightpart_1 .well.well-sm {
  background:none;
  border: medium none;
  box-shadow: none;
  position: absolute;
  right: 0;
  top: -16px;
  width:400px;
  z-index: 1;
  text-align:right;
  margin-bottom:0;
}

.search_result_rightpart_1 .well.well-sm span { color:#8a8a8a; }


.short_by.dropdown {
  display: inline-block;
  width: 100px;

}

.short_by .btn.dropdown-toggle { background:none; }

.search_result_rightpart_1 #products { padding-left:70px; }

.search_result_rightpart_1 #products .thumbnail { position:relative; border-left:none; border-top:none; border-bottom:none; }

.search_result_rightpart_1 #products .thumbnail .btn.btn-success { position:absolute; right:9px; top:10px; background:#67bf8e;
  border-radius:18px;
  color:#fff;
  font-size:15px;
  font-weight:normal;
  height:28px;
  letter-spacing:1px;
  line-height:15px;
  position:absolute;
  text-align:center;
  width:60px;
  z-index:1; padding-left:9px; }

.search_result_rightpart_1 #products .thumbnail h4 {
  background:none;
  color: #0f0f0f;
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  margin: 0;
  padding-bottom: 0;
  padding-top: 15px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}


.search_result_rightpart_1 #products .thumbnail h6 {
  background:none;
  color: #0f0f0f;
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  margin: 0;
  padding-bottom:0;
  padding-top:0px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  font-weight:500;
}


.search_result_rightpart_1 #products .thumbnail .group.inner.list-group-item-text {
  display: block;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 0 0;
  text-align: left;
}
.search_result_rightpart_1 #products .thumbnail .lead {
  color: #d74113;
  float: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 10px 0;
  text-align: left;
  width: 100%;
}

.search_result_rightpart_1 #products .list-group-item { background:none; border:none; border-radius:0; padding-left:0; border-bottom:1px dashed #e5e5e5; }
.search_result_rightpart_1 #products .list-group-item .caption { width:80%; float:right; }
.search_result_rightpart_1 #products .list-group-item .add_cart { width:100%; }





.search_result_rightpart_1 #products .load_more.btn.btn-primary.btn-lg {
  background: #d74113;
  border: medium none;
  border-radius: 0;
  display: block;
  font-size: 16px;
  height: 38px;
  line-height: 20px;
  margin: 0 auto;
}


/* ========================= product_page =============================== */

.serch_txt_2 { width:100%; padding-right:0; }
.serch_txt_2 a {
  border-bottom: 1px solid #e5e5e5;
  color: #474747;
  font-size: 13px;
  padding-bottom:10px;
  display:block;
}

.ds_product_left {
  padding: 50px 0;
  width: 100%;
}
.share-list {
  margin: 0;
  padding: 0 0 10px 0;
  width: 100%;
  display:table;
}

.share-list li { color:#e73713; width:auto; float:left; padding:5px 5px 5px 0; font-size:16px; }
.share-list li:nth-child(2) { margin-left:10px; }
.share-list li a { color:#474747; text-decoration:none; outline:none; }
.share-list li a:hover { text-decoration:none; }
.share-list li i { margin-right:15px; }

.whs_pic_text2 {
    display: table;
    float: right;
    margin: 11px 0 0;
    padding: 0;
    width:100%;
}
.whs_pic_text2 h3 {
    color: #000;
    padding-bottom: 8px;
    font-weight: 500;
    margin-bottom:5px;
	margin-top:0;
}
.whs_pic_text2 h4 {
    color: #000;
    font-size: 18px;
    padding-bottom: 8px;
    font-weight: 500;
    margin: 0;
}
.whs_pic_text2 h6 {
    color: #474747;
    font-size: 15px;
    font-weight: 500;
    margin: 13px 0 0;
    padding-bottom: 8px;
}
.whs_pic_text2 h6 {
  color: #474747;
  float: left;
  font-size: 15px;
  font-weight: 500;
  margin: 13px 0 0;
  padding-bottom: 8px;
  width: 100%;
}

.whs_pic_text2 h6 img {
    margin-right:2px;
	float:left;
}


.whs_pic_text2 a {
  border: medium none;
  color: #474747;
  float: left;
  font-size: 13.5px;
  font-weight: 400;
  margin-left: 23px;
  outline: medium none;
  text-decoration: underline;
}

.d1 {
    color: #000;
    float: left;
    font-family: "Roboto", sans-serif;
    padding: 10px 10px 10px 23px;
    text-align: left;
    text-transform: uppercase;
    width: 32%;
}
.getspcl {
    display: table;
    margin: 0;
    padding: 4px 0px;
    width: 100%;
}
.getspcl > h5 {
    color: #ce1017;
    text-align: left;
    border-bottom: 1px solid #ce1017;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 4px 0 18px;
    padding-bottom: 15px;
    font-family: "Roboto", sans-serif;
}
.getspcl > ul {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0 0 0 20px;
    width:100%;
}

.getspcl h4 {
  color: #707070;
  font-size: 15px;
  font-weight: 500;
  margin:40px 0;
  line-height:26px;
  border-bottom:1px solid #e5e5e5;
  padding-bottom:10px;
}

.getspcl span {
  background: #67bf8e;
  border-radius: 18px;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  height: 28px;
  letter-spacing: 1px;
  line-height: 27px;
  text-align: center;
  width:60px;
  display:block;
  float:left;
  margin-right:15px;

}

.getspcl li {
    color: #6a6a6a;
    font-size: 16px;
    margin: 9px 0;
	list-style:circle;
}
.ds_prod_dtls {
  float: right;
  margin: 50px 0 0;
  width: 95%;
  position:relative;
}

.tap_fau {
  color: #ababab;
  font-size: 13px;
  text-transform: uppercase;
  width: 100%;
}

.plus_minus_counter {
  position: absolute;
  right: 0;
  text-align: center;
  width: 130px;
}

.plus_minus_counter input { text-align:center; border-radius:0; }
.plus_minus_counter button {
  background:#ccc;
  border: medium none;
  border-radius: 0;
  height: 34px;
  text-align: center;
  width: 38px;
}

.rs_each {
  color: #d74113;
  display: table;
  font-size: 30px;
  padding: 45px 0 20px;
  width: 100%;
}
.rs_each > span {
  font-size: 16px;
}

.rs_each sup { margin-right:10px; top: 0;}



.chngeclr
{
	width:100%;
	float:left;
	border-bottom:1px solid #ddd;
	padding-bottom:40px;
}
.chngeclr h4 {
	float: left;
	color: #999999;
	margin-right: 30px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 50px;
	font-weight: 300;
}

.chngeclr a
{
	float:left;
	width:50px;
	height:50px;
	padding:5px;
	border:2px solid #fff;
	margin-right:5px;
	background:#093;
	transition:.2s ease;
}
.chngeclr a:hover
{
	border:2px solid #C30;
	padding:2px;

}
.chngeclr .btn-danger
{
	float:right;
	border:1px solid #d74113;
	color:#d74113;
	background:transparent;
	font-size:16px;
	padding:7px 30px;
}
.tabel-section {
	width: 100%;
	float: left;
}
.tabel-section h4
{
	float: left;
	width:100%;
	color: #999999;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 50px;
	font-weight: 300;
}
.tabel-section tbody
{
	border-radius:5px;
}
.tabel-section tbody tr td {
	background: #f9fbfd;
	width: 50%;
}

.description {
  display: table;
  padding:32px 0;
  width: 100%;
}

.description h5 { font-size:17px; text-transform:uppercase; color:#7f7f7f; }


/* ======================= interior_homepage =========================== */

.banner_int { width:100%; position:relative; padding:0; }
.jumbo_text {
	bottom: 0px;
	color: #fff;
	height: 194px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	width: 751px;
	z-index: 1;
}
.btn.btn_int_cont { outline:none; border:none; text-decoration:none;
  background: #80201a;
  color: #fff;
  font-size: 15px;
  margin-top: 30px;
  padding:10px 23px; font-weight:500;
}

.btn.btn_int_cont:hover { outline:none; border:none; text-decoration:none; background:#80201a; color:#fff; }

.jumbo_text h4 {
  font-size: 27px;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}
.jumbo_text h2 {
	font-size: 49px;
	font-weight: 400;
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
}
.interior_header .navbar-default { background:none; border:none; position:absolute; top:0; width:100%; z-index:2; padding:35px 0; }
.interior_header .nav.navbar-nav { float:right; width:auto; }

.interior_header .nav.navbar-nav a { color:#fff; font-size:13px; padding:12px 24px; }
.interior_header .nav.navbar-nav a:hover { color:#fff; font-size:13px; }
.interior_header .navbar-default .navbar-nav > li > a:hover, .interior_header .navbar-default .navbar-nav > li > a:focus { color:#fff; background-color:transparent; }
.int_loge.navbar-brand { padding-top:10px; }
.interior_gallery {
  padding: 75px 0;
  text-align: center;
  width: 100%;
  background:#f3f3f3;
  border-bottom:1px solid #ccc;

}

.interior_gallery h4 {
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing:2px;
  color:#000;
}
.interior_gallery h3 , .interior_gallery a.h3 , .interior_gallery a:hover {
  font-size: 33px;
  /* font-style: italic; */
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  color:#333;
  text-decoration:none;
}
.interior_gallery p {
  color: #8a8a8a;
  font-size: 15px;
  line-height: 24px;
  margin: 0 auto;
  padding: 0 0 80px;
  width: 50%;
}
.inssppecctiom .modal-footer
{
width:100%;
float:left;
}
.inssppecctiom .modal-content
{
width:100%;
float:left;
}
.inssppecctiom .modal-body
{
width:100%;
float:left;
}
.inssppecctiom .modal-header
{
width:100%;
float:left;
}

.inssppecctiom {
	width: 100%;
	/* float: left; */
	display: block;
	padding:0;
	margin:0;

}
.inssppecctiom p {
	width: 100%;
	/* float: left; */
	display: block;
	padding-bottom: 30px !important;
	font-size: 24px;
}
.inssppecctiom li {
	width: 100%;
	/* display: block; */
	font-size: 16px;
	margin-bottom: 10px;
	text-align: left;
	list-style: circle;
	margin-left: 18px;
	font-family: 'Roboto', sans-serif !important;
	float: left;
}
.img-forpopup {
	background: rgba(0,0,0,0.5);
}
.img-forpopup .modal-content
{
width: 100%;
	float: left;
	background: transparent;
	box-shadow: none;
	border: 0;
}
.img-forpopup .close {
	opacity: 1;
	color: #fff;
	font-size: 55px;
}

.img-forpopup .modal-header {
	width: 100%;
	float: left;
	background: transparent;
	box-shadow: none;
	border: 0;
	padding: 0;
	padding-right: 15px;
}
.img-forpopup .modal-body
{
width: 100%;
	float: left;
	background: transparent;
	box-shadow: none;
	border: 0;
}
.img-forpopup .modal-footer
{
width: 100%;
	float: left;
	background: transparent;
	box-shadow: none;
	border: 0;
}




.luk_3 .modal-content
{
width: 100%;
	float: left;

}
.luk_3 .close {
	font-size: 30px;
}

.luk_3 .modal-header {
	width: 100%;
	float: left;

}
.luk_3 .modal-body
{
width: 100%;
	float: left;

}
.luk_3 .modal-body p {
	width: 100%;
	float: left;
	text-align: left;
	padding: 0;
	padding-bottom: 10px;
	min-height: 70px;
}
.luk_3 .modal-body h4 {
	width: 100%;
	float: left;
	text-align: left;
	font-size: 16px;
}
.inssppecctiom a , .inssppecctiom a:hover
{
width:100%;
float:left;
font-size:15px;
text-align:left;
color:#666;
}
.inssppecctiom h5
{
width:100%;
float:left;
font-size:15px;
text-align:left;
color:#000;
}
.inssppecctiom h4
{
width:100%;
float:left;
font-size:15px;
text-align:left;
color:#d13b29;
}

.luk_3 .modal-body img
{

width:100%;
float:left;
text-align:left;
margin-top:20px;
}
.luk_3 .modal-footer
{
width: 100%;
	float: left;

}



.g_fancybox {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  display: table-row;
}
.g_fancybox ul {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}


.g_fancybox li {
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
  border-radius:0;
  display: inline-block;
  vertical-align: top;
  width: 21%;
  overflow:hidden;
  margin: 10px 20px;
  background:#eee;
  display: table-cell;

}
.g_fancybox ul li .fancybox img {
	width: 100%;
}

.g_fancybox p {
	padding: 0 25px 30px;
	width: 100%;
	text-align: left;
	font-size: 13px;
	color: #474747;
	line-height: 21px;
	min-height: 118px;
}
.g_fancybox .btn-warning
{
margin-bottom:20px;
}
.g_fancybox h5 {
  font-size:18px;
  font-weight:500;
  padding: 12px 25px 0;
  text-align: left;
  margin-bottom:5px;
}

.fancybox { width:100%; display:block; position:relative; }
.fncy_trans {background: rgba(128, 32, 26, 0.9);
  color: #fff;
  height:100%;
  position: absolute;
  text-align: center;
  width: 100%;
  top:-100%;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; overflow:hidden; }
.fancybox:hover .fncy_trans { display:block; top:0;  }
.fncy_trans i { font-size:30px; color:#fff; margin-top:39%; }

.want_to_here {
  background:#f3f3f3;
  padding:30px 0 0;
  width: 100%;
  display: table;
}


.here_pic { float:left; width:67%; display:table-cell; }
.here_pic img { width:100%; }


.here_form {
	background: #101010;
	color: #fff;
	display: table-cell;
	float: left;
	padding: 25px 50px 25px 65px;
	width: 100%;
}

.here_form > h3 {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 0;
}

.bulkdjorder
{
  width: 100%;
  float: left;
  padding: 20px 15px;
  margin: 60px 0;
  border: 1px solid #ddd;
}
.bulkdjorder h2
{
  margin-bottom: 40px;

}
.bulkdjorder input , .bulkdjorder select , .bulkdjorder textarea
{
  width: 100%;
  float: left;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 0;
  background: #fff;
  color: #000;
  margin-bottom: 15px;
  resize: vertical;
}
.bulkdjorder input[type="file"]
{
border: 0 !important;
padding: 0  !important;
}
.bulkdjorder h4
{
  width: 100%;
  float: left;
  color: #f46664
}

.bulkdjorder input[type="checkbox"]
{
  width: auto;
  float: left;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 0;
  background: #fff;
  color: #000;

  resize: vertical;
}

.bulkdjorder .checkbox {
	min-height: 20px;
	padding-left: 0;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
	line-height: 28px;
  margin-bottom: 20px;
}

.here_form > p {
  color: #b2b2b2;
  padding: 17px 0;
}

.here_form input[type=text],.here_form input[type=email],.here_form select,.here_form input[type=tel] { border-radius:0; height:30px; font-size:13.5px; line-height: 30px;font-weight:400; margin-bottom:0; width:100%; border:none; color:#000; padding-left:10px; background:#dcdcdc; }
.here_form textarea {
	border-radius: 0;
	height: 88px !important;
	font-size: 13.5px;
	font-weight: 400;
	margin-bottom: 25px;
	width: 100%;
	border: none;
	color: #000;
	padding-left: 10px;
	background: #dcdcdc;
}

.ds_col_container {
    display: table;
    width: 100%;
}
.ds_col {
    display: table-cell;
	background:#101010;
	vertical-align:top;
  width:50%;
}

.btn.btn-warning.submit {
  padding: 8px 28px; color:#474747; font-weight:500;
}
.btn.btn-success.submit {
  padding: 8px 28px; font-weight:500;
}



.interior_howit_work {
  padding: 35px 0;
  text-align: center;
  width: 100%;
  background:#f3f3f3 url(../images/broken_line.png) no-repeat center 320px;

}
.interior_howit_work.interior_howit_work_11 {
	background: #f3f3f3 url(../images/broken_line_2.png) no-repeat center 260px !important;
}

.interior_howit_work h4 {
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing:2px;
  color:#000;
}
.interior_howit_work h3 {
  font-size: 33px;
  font-style: italic;
  font-weight: 500;
}
.wrkks {
  padding: 30px 0;
  text-align: center;
  width: 100%;

}
.wrkks h3 {
  font-size: 33px;
  font-style: italic;
  font-weight: 500;
  margin-bottom:30px;
}
.interior_howit_work p {
  color: #8a8a8a;
  font-size: 15px;
  line-height: 24px;
  margin: 0 auto;
  padding: 0 0 80px;
  width: 50%;
}

.int_howitwork {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align:center;
}

.int_howitwork > li {
  display: inline-block;
  margin: 0 15px;
  vertical-align: top;
  width:17%;
}
.int_howitwork p {
  padding-bottom: 0;
  width: 100%;
}





/*======================= 22.09.2017 =============================*/
.sub-btns {
	/* margin: 0 !important; */
	margin-bottom: 6px !important;
	margin-top: 0 !important;
}
.sub-btns i {
	color: #fff !important;
	margin-right: 11px !important;
	font-size: 18px !important;
}

/* ====================== 06-12-2017 ====================== */

.blk_order_1 {
	position: absolute;
	right: 0;
	top: 5%;
	z-index: 1;
	padding: 7px 10px;
	background: #67bf8e;
	color: #fff;
	border-radius: 15px;
	line-height: 17px;
}

.blk_order_1:hover { color:#fff; text-decoration: none; }

.blk_order_2 {
	position: absolute;
	right: 0;
	top:25%;
	z-index: 1;
	padding: 7px 10px;
	background: #67bf8e;
	color: #fff;
	border-radius: 15px;
	line-height: 17px;
}

.blk_order_2:hover { color:#fff; text-decoration: none; }

.new_share-list.share-list { background: #67bf8e; padding: 0 10px; }
.new_share-list.share-list li a { color:#fff; }
.new_share-list.share-list li i {
	margin-right: 6px;
	margin-left: 10px;
}

/* ====================== 06-12-2017 ====================== */


/* =============================== 31-10-2017 =============================== */

.dreamsale_about p { width: 100%; padding: 0 28px; }
.dreamsale_about h3 { width: 100%; padding:15px 28px; }
.dreamsale_about img {
	width: 150px;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 6px 31px;
}

.dreamsale_about span {
	font-weight: 600;
	color: #333;
	width: 100%;
	display: block;
	min-height: 60px;
	font-size: 18px;
}
.dreamsale_about {
	width: 95%;
	margin: 34px auto;
	padding: 0px 0 20px;
	background: #f5f5f5;
  display: table;
}
.name_desg {
	width: 24%;
	float: left;
	text-align: center;
  margin-right:5px;
}


.dreamsale_about h4 {
	text-align: center;
	font-size: 26px;
	padding-bottom: 30px;
  color:#d74113;
}



.connttcc
{
  width: 100%;
  float: left;
  padding: 20px 15px;
  background: #eee;
  border: 1px solid #ddd;
  margin: 60px 0;
}

.connttcc .col-sm-6
{
  min-height: 150px;
}

.faqcontent
{
  width: 100%;
  float: left;
  margin-top: 60px;
  margin-bottom: 40px;
}
.faqcontent h2
{
  width: 100%;
  float: left;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 20px;
}
.faqcontent h4
{
  width: 100%;
  float: left;
  margin-bottom: 15px;
  margin-top: 0;
}
.faqcontent p
{
  width: 100%;
  float: left;
}



/* ======================= 03-11-2017 =========================== */

.dreamsale_profile_sec.form-horizontal {
	margin-top: 50px;
	background: #f5f5f5;
	padding: 20px;
}
.dreamsale_profile_sec.form-horizontal label {
	font-weight: 500;
}



/* ===================== 21-11-2017 =============================== */

.featured_product_new_hd { width:100%; text-align:center; background:#fff200; color:#000; font-size:30px; padding:15px 0; text-transform:uppercase; margin-bottom:50px; }
.banner-caption ul li:nth-child(2) a img {display:none; }

/*========================= cart ==============================*/
.tbel-caret
{
  margin: 40px 0;
}
.tbel-caret .thumbnail {
	margin-right: 15px;
}
.cart_addresss
{
  width: 100%;
  float: left;
  padding: 10px;
  border: 1px solid #ddd;
  margin-top: 50px;
}
.full_cartadress
{
  width: 100%;
  float: left;
  margin-bottom: 50px ;
}
.cart_addresss h4
{
color: #000;
}
.cart_addresss p
{
color: #434343;
}
.cart_addresss:hover
{
border: 1px solid #d74113 !important;
text-decoration: none;
}
.cart_addresss.cart_addresss_selec
{
border: 1px solid #d74113;
}
.optionscart
{
  width: 100%;
  float: left;
  padding: 0;
  border: 1px solid #ddd;
  border-top: 0;
}
.optionscart a
{
  width: 33.33%;
  border-right: 1px solid #ddd;
  padding: 10px 0;
  font-size: 17px;
  float: left;
  text-align: center;
}
.optionscart a.cehck_Adrress , .optionscart a.cehck_Adrress:hover
{
border-right: 0;
color: #208636;
text-decoration: none;
}
.optionscart a.delete_addreess , .optionscart a.delete_addreess:hover
{

color: #ab1d1d;text-decoration: none;
}
.optionscart a.edit_addreess , .optionscart a.edit_addreess:hover
{

color: #1d6dab;
text-decoration: none;
}
.full_cartadress input , .full_cartadress select
{
  width: 100%;
  float: left;
  padding: 8px 10px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}
.full_cartadress label {
	width: 100%;
	float: left;
	color: #000;
	text-align: left !important;
}.cart_addresss_add
{
  text-align: center;
}
.cart_addresss_add i {
	font-size: 135px;
	width: 100%;
	color: #333;
}
.description_review .animated {
   -webkit-transition: height 0.2s;
   -moz-transition: height 0.2s;
   transition: height 0.2s;
}

.description_review .stars {
	font-size: 24px;
	color: #d74113;
}
.description_review textarea:focus
{
  outline: none !important
}
.description_review textarea
{
resize: vertical;
height: 160px !important;
overflow: auto;
}
.reviewxzss {
	width: 100%;
	float: left;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-top: 10px;
	margin-bottom: 10px;
}
.reviewxzss h4 {
	width: 100%;
	float: left;
	margin: 0;
	margin-bottom: 10px;
	color: #000;
	margin-top: 10px;
}
.reviewxzss p
{
  width: 100%;
  float: left;
  margin-bottom: 20px;color: #666;
  font-size: 15px;
}
.reviewxzss p small
{
  font-size: 12px;
  color: #999;
}
.reviewxzss h4 i {
	background: #5cb85c;
	color: #fff;
	padding: 5px 6px;
	border-radius: 5px;
  margin-right: 5px;
}
.rating-block .glyphicon
{
margin-right: 0;
}
.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}

.lodingproduct
{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  background: #fff;
}
.lodingproduct img {
	width: 300px;
	height: 200px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	vertical-align: middle;
	position: absolute;
}
.proceed_payment
{
  width: 100%;
  float: left;
  margin-top: 50px;
}
.plceordr
{
  width: 100%;
  float: left;
  margin: 50px 0;

}
.abcRioButton.abcRioButtonLightBlue {
	width: 100% !important;
	text-align: center !important;
}
.abcRioButtonContents {
	display: none;
}
.abcRioButtonIcon {
	float: none !important;
	margin: auto;
}
.abcRioButtonSvgImageWithFallback.abcRioButtonIconImage.abcRioButtonIconImage18 {
	margin: auto;
}


.selectyouhve {
	width: 100%;
	float: left;
	padding: 10px;
	border: 1px solid #ddd;
	color: #000 !important;
  font-weight: bold;
  line-height: 25px;
}
.selectyouhve a
{
  background: #d9534f;
  color: #fff;
  text-decoration: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  float: right;
  text-align: center;
  line-height: 25px;
}
.selectyouhve a:hover
{
  opacity: .8;
  color: #fff;
  text-decoration: none;
}
.demopackgetype
{
  width: 70px;
  height: 100px;
  margin-right: 10px;
  float: left;
  padding: 5px;
  border: 1px solid #ddd;
  transition: .2s ease;
}
.demopackgetype img
{
  width: 60px;
  height: 60px;
  float: left
}
.demopackgetype a , .demopackgetype a:hover {
	background: transparent !important;
	width: 100% !important;
	font-size: 16px;
	margin-top: 5px;
	height: auto !important;
	margin-right: 0 !important;
	padding: 0 !important;
  text-align: center;
  border: 0;
  text-decoration: none;
}
.demopackgetype:hover
{
  border: 1px solid #C30
}

.img-responsive.contect-us {
	width: 100%;
	float: left;
	margin-top: 20px;
}
.faqcontent .panel.panel-default {
	width: 100%;
	float: left;
}
.faqcontent .panel-default > .panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
	width: 100%;
	float: left;
}
.faqcontent.faqcontent-22 h2 {
	width: 100%;
	float: left;
	margin: 0;
	margin-bottom: 40px;
	text-align: left;
	margin-top: 20px;
	margin: 0;
	font-size: 20px;
}
.faqcontent.faqcontent-22 .panel-default > .panel-heading + .panel-collapse > .panel-body
{
width: 100%;
	float: left;
}

.sellss
{
width:100%;
float:left;
margin-top:30px;
}
.faqcontent.faqcontent-22 h4 {
	width: 100%;
	float: left;
	margin-bottom: 0;
	margin-top: 0;
}
.mysldd img {
  max-width: 100%; }

.mysldd  .preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.mysldd  .preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.mysldd  .preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .mysldd  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .mysldd  .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .mysldd  .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .mysldd  .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.mysldd  .tab-content {
  overflow: hidden; }
  .mysldd  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {


.mysldd  .details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.mysldd .colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

  }