<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<title>Denmakers</title>
<!-- ============= css =============== -->
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/responsive.css" rel="stylesheet" type="text/css">
<link href="css/icons.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">

<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

</head>
<body class="dreamsale" ng-app="dreamsaleApp">
<div class="se-pre-con"></div>

<div ng-controller="cartCheckOutController">

<!--  ====================== HEADER =========================== -->



<ng-include src="'header.html'"></ng-include>
<div class="full_cartadress">
<div class="container">

    <div class="row">
        <div class="col-sm-4 col-xs-12">
          <a href="" class="cart_addresss cart_addresss_add cart_addresss_select"  data-toggle="modal" data-target="#myModal">
            <i class="fa fa-plus"></i>
            <h4>Add new Address</h4>



          </a>

          <!-- Modal -->
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog modal-md">
               <div class="modal-content">
                 <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                   <h4 class="modal-title">Address</h4>
                   <center><p style="color:red">{{ error_message }}</p></center>
                 </div>
                 <div class="modal-body">
                   <form class="form-horizontal">
              <fieldset>
                  <!-- Address form -->



                  <!-- full-name input-->
                  <div class="control-group">
                      <label class="control-label">First Name</label>
                      <div class="controls">
                          <input id="full-name" name="full-name" ng-model="first_name" type="text" placeholder="First Name"
                          class="input-xlarge">
                          <p class="help-block"></p>
                      </div>
                  </div>

                  <div class="control-group">
                      <label class="control-label">Last Name</label>
                      <div class="controls">
                          <input id="full-name" name="full-name" ng-model="last_name" type="text" placeholder="Last Name"
                          class="input-xlarge">
                          <p class="help-block"></p>
                      </div>
                  </div>

                  <div class="control-group">
                      <label class="control-label">Mobile Number</label>
                      <div class="controls">
                          <input id="full-name" name="full-name" ng-model="mobile_number" type="text" placeholder="Mobile Number"
                          class="input-xlarge" onkeyup="return validate(this , 'number')">
                          <p class="help-block"></p>
                      </div>
                  </div>

                  <div class="control-group">
                      <label class="control-label">Address Line 1</label>
                      <div class="controls">
                          <input id="address-line1" name="address-line1" ng-model="address_line_1" type="text" placeholder="address line 1"
                          class="input-xlarge">
                          <p class="help-block">Street address, P.O. box, company name, c/o</p>
                      </div>
                  </div>
                  <!-- address-line2 input-->
                  <div class="control-group">
                      <label class="control-label">Address Line 2</label>
                      <div class="controls">
                          <input id="address-line2" name="address-line2" ng-model="address_line_2" type="text" placeholder="address line 2"
                          class="input-xlarge">
                          <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
                      </div>
                  </div>
                  <!-- city input-->
                  <div class="control-group">
                      <label class="control-label">City / Town</label>
                      <div class="controls">
                          <input id="city" name="city" type="text" placeholder="city" ng-model="city" class="input-xlarge">
                          <p class="help-block"></p>
                      </div>
                  </div>
                  <!-- region input-->
                  <div class="control-group">
                      <label class="control-label">State / Province / Region</label>
                      <div class="controls">
                          <select ng-model="states">
                             <option ng-repeat="states in stateList" value="{{ states.Name }}">{{ states.Name }}</option>

                          </select>
                          <p class="help-block"></p>
                      </div>
                  </div>
                  <!-- postal-code input-->
                  <div class="control-group">
                      <label class="control-label">Zip / Postal Code</label>
                      <div class="controls">
                          <input id="postal-code" ng-model="postal_code" name="postal-code" type="text" placeholder="zip or postal code"
                          class="input-xlarge">
                          <p class="help-block"></p>
                      </div>
                  </div>
                  <!-- country select -->
                  <div class="control-group">
                      <label class="control-label">Country</label>
                      <div class="controls">
                          <select id="country" name="country" class="input-xlarge" ng-model="country">

                              <option value="India" selected>India</option>


                          </select>
                      </div>
                  </div>
              </fieldset>
          </form>
                 </div>
                 <div class="modal-footer">

                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-success" ng-click="addaddress()">Save</button>
                 </div>
               </div>
             </div>
           </div>
        </div>
        <div class="col-sm-4" ng-repeat="address in address_details">
          <a href="" class="cart_addresss cart_addresss_select">
              <h4>Name</h4>
              {{ address.FirstName}}  {{ address.LastName }}
            <h4>Address</h4>
            <p> {{ address.Address1 }}, {{ address.Address2 }}, {{ address.City}}, {{ address.StateProvinceName }},  {{ address.ZipPostalCode }}</p>

          </a>
          <div class="optionscart">
            <a href="" class="edit_addreess" ng-click="editAddress(address.Id)"><i class="fa fa-pencil"></i></a>
            <a href="" class="delete_addreess" ng-click="deleteAddress(address.Id)"><i class="fa fa-trash"></i></a>
            <a href="" class="cehck_Adrress" ng-click="selectAddress($event , address.Id)"><i class="fa fa-check"></i></a>
          </div>
        </div>


       <!-- SUCCESS MODAL -->


       <div class="modal fade" id="success_modal" role="dialog">
         <div class="modal-dialog modal-md">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>

             </div>
             <div class="modal-body">
                <span ng-bind-html="modal_data"></span>
             </div>

           </div>
        </div>
      </div>


       <!-- END HERE -->


        <!-- EDIT MODAL DIV ---------------- -->


        <div class="modal fade" id="editModal" role="dialog">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Address</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal">
           <fieldset>
               <!-- Address form -->



               <!-- full-name input-->
               <div class="control-group">
                   <label class="control-label">First Name</label>
                   <div class="controls">
                       <input id="first_name" name="full-name" value="{{addressDetails.Address.FirstName}}" type="text" placeholder="First Name"
                       class="input-xlarge">
                       <p class="help-block"></p>
                   </div>
               </div>

               <div class="control-group">
                   <label class="control-label">Last Name</label>
                   <div class="controls">
                       <input id="last_name" name="full-name" value="{{addressDetails.Address.LastName}}" type="text" placeholder="Last Name"
                       class="input-xlarge">
                       <p class="help-block"></p>
                   </div>
               </div>

               <div class="control-group">
                   <label class="control-label">Mobile Number</label>
                   <div class="controls">
                       <input id="mobile_number" name="full-name"  value="{{ addressDetails.Address.MobileNumber }}" type="text" placeholder="Mobile Number"
                       class="input-xlarge">
                       <p class="help-block"></p>
                   </div>
               </div>

               <div class="control-group">
                   <label class="control-label">Address Line 1</label>
                   <div class="controls">
                       <input id="address_line1" name="address-line1" value="{{ addressDetails.Address.Address1 }}" type="text" placeholder="address line 1"
                       class="input-xlarge">
                       <p class="help-block">Street address, P.O. box, company name, c/o</p>
                   </div>
               </div>
               <!-- address-line2 input-->
               <div class="control-group">
                   <label class="control-label">Address Line 2</label>
                   <div class="controls">
                       <input id="address_line2" name="address-line2"  value="{{ addressDetails.Address.Address2 }}" type="text" placeholder="address line 2"
                       class="input-xlarge">
                       <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
                   </div>
               </div>
               <!-- city input-->
               <div class="control-group">
                   <label class="control-label">City / Town</label>
                   <div class="controls">
                       <input id="city" name="edit_city" type="text" placeholder="city" value="{{ addressDetails.Address.City }}" class="input-xlarge">
                       <p class="help-block"></p>
                   </div>
               </div>
               <!-- region input-->
               <div class="control-group">
                   <label class="control-label">State / Province / Region</label>
                   <div class="controls">
                       <select id="edit_state">
                          <option ng-repeat="states in stateList" value="{{ states.Name }}" ng-if="states.Name == addressDetails.Address.StateProvinceName" selected>{{ states.Name }}</option>
                         <option ng-repeat="states in stateList" value="{{ states.Name }}">{{ states.Name }}</option>
                       </select>
                       <p class="help-block"></p>
                   </div>
               </div>
               <!-- postal-code input-->
               <div class="control-group">
                   <label class="control-label">Zip / Postal Code</label>
                   <div class="controls">
                       <input id="postal_code" value="{{ addressDetails.Address.ZipPostalCode }}" name="postal-code" type="text" placeholder="zip or postal code"
                       class="input-xlarge">
                       <p class="help-block"></p>
                   </div>
               </div>
               <!-- country select -->
               <div class="control-group">
                   <label class="control-label">Country</label>
                   <div class="controls">
                       <select id="country" name="country" class="input-xlarge" ng-model="country">

                           <option value="India" selected>India</option>


                       </select>
                   </div>
               </div>
           </fieldset>
       </form>
              </div>
              <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   <button type="button" class="btn btn-success" ng-click="updateAddress(addressDetails.Address.Id)">Update</button>
              </div>
            </div>
          </div>
        </div>








<div class="col-sm-12 text-center">
  <div class="proceed_payment">
  <button type="button" class="btn btn-danger" ng-if="check_out_select == 0" disabled>
        <span class="glyphicon glyphicon-remove"></span> Proceed With Payment
  </button>

    <a href="javascript:void(0)" ng-click="getOrderConfirmed()" type="button" class="btn btn-success" ng-if="check_out_select == 1">
        <span class="fa fa-check"></span> Confirm Order
    </a>
  </div>
</div>










        <!-- END HERE -->






    </div>
</div>
</div>

<!-- =========================== footer ================= -->
  <ng-include src="'footer.html'"></ng-include>
<!-- =========================== end_footer ================= -->

</div>

<!-- ============= js  =============== -->
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/npm.js"></script>
<script type="text/javascript" src="js/jquery.carouFredSel-6.2.1.js"></script>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
<script type="text/javascript" src="js/frontend/app.js"></script>
<script type="text/javascript" src="js/frontend/headerController.js"></script>
<script type="text/javascript" src="js/frontend/cartCheckoutController.js"></script>
<script type="text/javascript" src="js/angular-sanitize.min.js"></script>


<script type="text/javascript">
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });

   $('.dropdown-submenu a.test_1').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });



});
</script>
<!-- testimonials_slide -->
<script type="text/javascript">
         $(window).load(function() {


         	$('ul.cl_gslider_sec').carouFredSel({
                 	auto:false,
                 	responsive:true,
                 	width:'100%',
                 	prev:'.prv_btn1_cxw',
                 	next:'.nxt_btn1_cxw',
                 	scroll:1,

                 	items:{
                 		height:'variable',
                 		visible: {
                 			max: 1,
                 			min: 1
                 			}
                 		}
                 	})

         });
      </script>
<!-- testimonials_slide -->
<!-- ================= marquee ================ -->
<script type="text/javascript">
$(function() {
    $('marquee').mouseover(function() {
        $(this).attr('scrollamount',0);
    }).mouseout(function() {
         $(this).attr('scrollamount',5);
    });

});
</script>
<script type="text/javascript">
//paste this code under head tag or in a seperate js file.
 // Wait for window load
  $(window).load(function()
  {
  // Animate loader off screen
  $(".se-pre-con").fadeOut("slow");
  });
</script>

<!-- ================== end marquee =================== -->
<!-- ============= end_js  =============== -->

</body>
</html>
