<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1">
  <meta name="format-detection" content="telephone=no">
  <title>Denmakers</title>
  <!-- ============= css =============== -->
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="css/responsive.css" rel="stylesheet" type="text/css">
  <link href="css/icons.css" rel="stylesheet" type="text/css">
  <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
</head>

<body class="dreamsale" ng-app="dreamsaleApp" ng-controller="contactController">
  <div class="se-pre-con"></div>

  <div>

    <!--  ====================== HEADER =========================== -->



    <ng-include src="'header.html'"></ng-include>







    <!--
<div class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>About DreamSALE</h3>
        Denmakers Solutions, a Total Solution provider in real estate sector, is India's first B2C & B2B commerce company for property consultancy & inspection, interiors, material procurement, handling & consultancy service. Founded in 2017, and headquartered in Kolkata, we offer e-procurement/ e-booking solution for buyers (from individuals to industry professionals and construction companies.) through our portal, we also connect them with wholesalers and manufacturers. Denmakers.in is a technology driven platform with over 1 lacs products & services listed on the website. The company has over 100 premium suppliers/Service providers catering to all the needs of the buyers.
As a marketplace provider, our core value is QDP (Quality materials/ services, competitive prices, timely delivery). With our robust vendor selection process we ensure genuine premium quality products and services at very competitive prices. We also have partnered with experienced and expert logistics providers to ensure timely and hassle free delivery.
Denmakers.in helps buyers and suppliers transact by providing platform to enable booking, procurement, logistics & fulfilment support, receivables & payables management, customer and vendor service and analytics.
Additionally, Denmakers Solutions partners with buyers and suppliers by helping them secure business financing options to procure property, materials, products, equipments, services and other project/ working capital related loans via its network of banks and NBFCs.<br><br>

<b>LEADERSHIP TEAM</b>

      </div>
    </div>
  </div>
</div>-->

    <!-- <img src="images/contact_bcl.png" class="img-responsive contect-us" alt=""> -->


    <div class="container">
      <div class="row">
      <div class="col-lg-6">
        <div class="bulkdjorder ">
          <div class="col-sm-12 text-center">
            <h2>Contact Us</h2>
          </div>
          <form action="" method="">

            <center>
              <p style="color:red">{{validation_message}}</p>
            </center>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Name*:</label>
                <input type="text" class="form-control" id="name" placeholder="User Name" name="name" autocomplete="name" ng-model="name"
                  my-enter="submitForm()">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Email*:</label>
                <input type="text" class="form-control" id="email" placeholder="Email Address" name="email" autocomplete="email" ng-model="email"
                  my-enter="submitForm()">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Phone No.*:</label>
                <input type="tel" class="form-control" id="phone" placeholder="Phone Number" onkeypress="return validate(this , 'number')"
                  ng-model="phone" my-enter="submitForm()">
              </div>
            </div>


            <div class="col-sm-6">
              <div class="form-group">
                <label>City*:</label>
                <!-- <input type="text" class="form-control" id="telephone" placeholder="" ng-model="city"> -->
                <select ng-model="city">
                    <option value="" selected style="display:none">Select</option>
                  <option ng-repeat="city in citylist" value="{{city.Name}}">{{city.Name}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>State*:</label>
                <!-- <input type="text" class="form-control" id="telephone" placeholder="" ng-model="state"> -->
                <select ng-model="state">
                    <option value="" selected style="display:none">Select</option>
                  <option ng-repeat="state in statelist" value="{{state.Name}}">{{state.Name}}</option>
                </select>
              </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label> Pincode.*:</label>
                  <input type="text" class="form-control" id="pincode" placeholder="Pincode" onkeypress="return validate(this , 'number')"
                    ng-model="pincode" my-enter="submitForm()">
                </div>
              </div>


              <div class="col-sm-12">
                <div class="form-group">
                  <label> Comment.*:</label>
                  <textarea class="form-control" placeholder="Comment here" ng-model="comment" my-enter="submitForm()"></textarea>
                </div>
              </div>



              <div class="col-sm-12">
                <button type="button" class="btn btn-warning submit" ng-click="submitForm()">SEND EMAIL</button>
              </div>
          </form>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="connttcc">
            <div class="col-sm-6">
              <h4>MAIL ID</h4>
              <p>Contact@denmakers.in</p>
              <p>customercare@denmakers.in</p>
              <p>suppliersupport@denmakers.in</p>
            </div>

            <div class="col-sm-6">
              <h4>Phone No</h4>
              <p>+919163656999</p>
            </div>
            <div class="col-sm-6">
              <h4>Phone No</h4>
              <p>75C, Park Street
                <br> 3rd Floor, World of Titan Building
                <br> Kolkata, West Bengal-700016
              </p>
            </div>
            <div class="col-sm-6">
              <h4>Working Hours</h4>
              <p>Monday to Friday</p>
              <p>10a.m to 6p.m</p>

            </div>
            <div class="col-sm-12">
              <h4>In case of grievances</h4>
              <p>Mr. Nikhil Chaudhay [ nikhil@denmakers.in ]</p>
              <p>Mr. Ishannt Mahansaria [ Ishannt@denmakers.in ] </p>

            </div>



          </div>
        </div>



      </div>



      <!-- =========================== end-about_dreamsale ================= -->
      <!-- =========================== footer ================= -->
      <div class="row">
        <ng-include src="'footer.html'"></ng-include>
      </div>

      <!-- =========================== end_footer ================= -->

    </div>

    <!-- ============= js  =============== -->

    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/npm.js"></script>
    <script type="text/javascript" src="js/jquery.carouFredSel-6.2.1.js"></script>

    <script type="text/javascript">
      //paste this code under head tag or in a seperate js file.
      // Wait for window load
      $(window).load(function () {
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");
      });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
    <script type="text/javascript" src="js/frontend/app.js"></script>
    <script type="text/javascript" src="js/frontend/headerController.js"></script>
    <script type="text/javascript" src="js/frontend/contactController.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.min.js"></script>


    <script type="text/javascript">
      $(document).ready(function () {
        $('.dropdown-submenu a.test').on("click", function (e) {
          $(this).next('ul').toggle();
          e.stopPropagation();
          e.preventDefault();
        });

        $('.dropdown-submenu a.test_1').on("click", function (e) {
          $(this).next('ul').toggle();
          e.stopPropagation();
          e.preventDefault();
        });



      });
    </script>
    <!-- testimonials_slide -->
    <script type="text/javascript">
      $(window).load(function () {


        $('ul.cl_gslider_sec').carouFredSel({
          auto: false,
          responsive: true,
          width: '100%',
          prev: '.prv_btn1_cxw',
          next: '.nxt_btn1_cxw',
          scroll: 1,

          items: {
            height: 'variable',
            visible: {
              max: 1,
              min: 1
            }
          }
        })

      });
    </script>
    <!-- testimonials_slide -->
    <!-- ================= marquee ================ -->
    <script type="text/javascript">
      $(function () {
        $('marquee').mouseover(function () {
          $(this).attr('scrollamount', 0);
        }).mouseout(function () {
          $(this).attr('scrollamount', 5);
        });

      });
    </script>

    <!-- ================== end marquee =================== -->
    <!-- ============= end_js  =============== -->

</body>

</html>