<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12">
        <div class="footer_left">
          <ul>
            <li><a href="about.html"> About Us </a></li>
            <li><a href="#"> Returns & Cancellations </a></li>
            <li><a href="terms.html"> Terms and Conditions </a></li>
            <li><a href="contact_us.html"> Contact Us </a></li>
            <li><a href="faq.html"> FAQs </a></li>
            <li><a href="supply_register.html"> Supply through Us</a></li>
          </ul>
        </div>
        <div class="clear"></div>
        <div class="social_icon">
          <ul>
            <li>Follow us on</li>
            <li><a href="#"><img src="images/fb.png" alt="facebook"></a></li>
            <li><a href="#"><img src="images/tw.png" alt="facebook"></a></li>
            <li><a href="#"><img src="images/go.png" alt="facebook"></a></li>
            <li><a href="#"><img src="images/rs.png" alt="facebook"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-7 col-sm-7">
        <div class="footer-right_part">
          <ul>
            <li><img src="images/Footer_guarantee.png" alt="footer_logo">100% <br>
              SECURE</li>
            <li><img src="images/Footer_deal.png" alt="footer_logo">BEST <br>
              DEALS</li>
            <li><img src="images/Footer_delivery.png" alt="footer_logo">QUICK <br>
              DELIVERY</li>
          </ul>
          <div class="clear"></div>
          <div class="visa_card">Payments secured by:<img src="images/ssl.png" style="height: 60px;width: 70px; margin: 10px;"></div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="last_footer">
          <ul>
            <li> <a href="#">Building</a> </li>
            <li> | </li>
            <li> <a href="#">Material </a></li>
            <li> | </li>
            <li> <a href="#"> Blocks </a></li>
            <li> | </li>
            <li> <a href="#"> Bricks </a></li>
            <li> | </li>
            <li> <a href="#"> Cement </a></li>
            <li> | </li>
            <li> <a href="#"> Coarse </a></li>
            <li> | </li>
            <li> <a href="#"> Aggregate </a></li>
            <li> | </li>
            <li> <a href="#"> Stones </a></li>
            <li> | </li>
            <li> <a href="#"> Ready </a></li>
            <li> | </li>
            <li> <a href="#"> Mix</a></li>
            <li> | </li>
            <li> <a href="#"> Concrete </a></li>
            <li> | </li>
            <li> <a href="#"> Mortar </a></li>
            <li> | </li>
            <li> <a href="#"> TMT </a></li>
            <li> | </li>
            <li> <a href="#"> Steel </a></li>
            <li> | </li>
            <li> <a href="#"> Sand </a></li>
            <li> | </li>
            <li> <a href="#"> Precast </a></li>
            <li> | </li>
            <li> <a href="#"> Products </a></li>
            <li> | </li>
            <li> <a href="#"> Mild </a></li>
            <li> | </li>
            <li> <a href="#"> Steel </a></li>
            <li> | </li>
            <li> <a href="#"> (MS)</a></li>
            <li> | </li>
            <li> <a href="#"> Products </a></li>
            <li> | </li>
            <li> <a href="#"> Cast </a></li>
            <li> | </li>
            <li> <a href="#"> Iron </a></li>
            <li> | </li>
            <li> <a href="#"> (CI)</a></li>
            <li> | </li>
            <li> <a href="#"> Products </a></li>
            <li> | </li>
            <li> <a href="#"> Stainless </a></li>
            <li> | </li>
            <li> <a href="#"> Steel </a></li>
            <li> | </li>
            <li> <a href="#"> Products </a></li>
            <li> | </li>
            <li> <a href="#"> Galvanised </a></li>
            <li> | </li>
            <li> <a href="#"> Iron </a></li>
            <li> | </li>
            <li> <a href="#"> (GI) </a></li>
            <li> | </li>
            <li> <a href="#"> Products </a></li>
            <li> | </li>
            <li> <a href="#"> Aluminium </a></li>
            <li> | </li>
            <li> <a href="#"> Products </a></li>
            <li> | </li>
            <li> <a href="#"> Water </a></li>
            <li> | </li>
            <li> <a href="#"> Proofing </a></li>
            <li> | </li>
            <li> <a href="#"> Construction </a></li>
            <li> | </li>
            <li> <a href="#"> Chemical </a></li>
            <li> | </li>
            <li> <a href="#"> Products </a></li>
            <li> | </li>
            <li> <a href="#"> Fencing </a></li>
            <li> | </li>
            <li> <a href="#"> Products </a></li>
            <li> | </li>
            <li> <a href="#"> Consumables </a></li>
            <li> | </li>
            <li> <a href="#"> Construction </a></li>
            <li> | </li>
            <li> <a href="#"> Timber </a></li>
            <li> | </li>
            <li> <a href="#"> Plywood </a></li>
            <li> | </li>
            <li> <a href="#"> Plumbing </a></li>
            <li> | </li>
            <li> <a href="#"> Water </a></li>
            <li> | </li>
            <li> <a href="#"> Tanks </a></li>
            <li> | </li>
            <li> <a href="#"> Pipes </a></li>
            <li> | </li>
            <li> <a href="#"> Fittings </a></li>
            <li> | </li>
            <li> <a href="#"> Control </a></li>
            <li> | </li>
            <li> <a href="#"> Valves </a></li>
            <li> | </li>
            <li> <a href="#"> Manhole </a></li>
            <li> | </li>
            <li> <a href="#"> Grating </a></li>
            <li> | </li>
            <li> <a href="#"> Solvents </a></li>
            <li> | </li>
            <li> <a href="#"> Water </a></li>
            <li> | </li>
            <li> <a href="#"> Pumps</a></li>
            <li> | </li>
            <li> <a href="#"> Motors </a></li>
            <li> | </li>
            <li> <a href="#"> Walls </a></li>
            <li> | </li>
            <li> <a href="#"> Flooring </a></li>
            <li> | </li>
            <li> <a href="#"> Tiles </a></li>
            <li> | </li>
            <li> <a href="#"> Granite </a></li>
            <li> | </li>
            <li> <a href="#"> Marble </a></li>
            <li> | </li>
            <li> <a href="#"> Natural </a></li>
            <li> | </li>
            <li> <a href="#"> Stones </a></li>
            <li> | </li>
            <li> <a href="#"> Wooden </a></li>
            <li> | </li>
            <li> <a href="#"> Flooring </a></li>
            <li> | </li>
            <li> <a href="#"> Carpets </a></li>
            <li> | </li>
            <li> <a href="#"> Specialized </a></li>
            <li> | </li>
            <li> <a href="#"> Flooring </a></li>
            <li> | </li>
            <li> <a href="#"> Grouts,</a></li>
            <li> | </li>
            <li> <a href="#"> Adhesives </a></li>
            <li> | </li>
            <li> <a href="#"> Coatings </a></li>
            <li> | </li>
            <li> <a href="#"> Outdoor </a></li>
            <li> | </li>
            <li> <a href="#"> Flooring </a></li>
            <li> | </li>
            <li> <a href="#"> Kitchen </a></li>
            <li> | </li>
            <li> <a href="#"> Chimneys </a></li>
            <li> | </li>
            <li> <a href="#"> Hobs</a></li>
            <li> | </li>
            <li> <a href="#"> Kitchen </a></li>
            <li> | </li>
            <li> <a href="#"> Sinks</a></li>
            <li> | </li>
            <li> <a href="#"> Faucets </a></li>
            <li> | </li>
            <li> <a href="#"> Kitchen </a></li>
            <li> | </li>
            <li> <a href="#"> Accessories</a></li>
            <li> | </li>
            <li> <a href="#"> Kitchen </a></li>
            <li> | </li>
            <li> <a href="#"> Storage </a></li>
            <li> | </li>
            <li> <a href="#"> Wine </a></li>
            <li> | </li>
            <li> <a href="#"> Coolers </a></li>
            <li> | </li>
            <li> <a href="#"> Cabinets</a></li>
            <li> | </li>
            <li> <a href="#"> Food </a></li>
            <li> | </li>
            <li> <a href="#"> Waste</a></li>
            <li> | </li>
            <li> <a href="#"> Disposer</a></li>
            <li> | </li>
            <li> <a href="#"> Kitchen </a></li>
            <li> | </li>
            <li> <a href="#"> Appliances</a></li>
            <li> | </li>
            <li> <a href="#"> Kitchen</a></li>
            <li> | </li>
            <li> <a href="#"> Hardware</a></li>
            <li> | </li>
            <li> <a href="#"> Modular </a></li>
            <li> | </li>
            <li> <a href="#"> Kitchen</a></li>
            <li> | </li>
            <li> <a href="#"> Paints</a></li>
            <li> | </li>
            <li> <a href="#"> Wall</a></li>
            <li> | </li>
            <li> <a href="#"> Putty</a></li>
            <li> | </li>
            <li> <a href="#"> Stainers</a></li>
            <li> | </li>
            <li> <a href="#"> Wood</a></li>
            <li> | </li>
            <li> <a href="#"> Finishes</a></li>
            <li> | </li>
            <li> <a href="#"> Emulsion</a></li>
            <li> | </li>
            <li> <a href="#"> Primer</a></li>
            <li> | </li>
            <li> <a href="#"> Enamel</a></li>
            <li> | </li>
            <li> <a href="#"> Distemper </a></li>
            <li> | </li>
            <li> <a href="#"> Gypsum </a></li>
            <li> | </li>
            <li> <a href="#"> Products</a></li>
            <li> | </li>
            <li> <a href="#"> Fillers</a></li>
            <li> | </li>
            <li> <a href="#"> Melamyne</a></li>
            <li> | </li>
            <li> <a href="#"> Painting</a></li>
            <li> | </li>
            <li> <a href="#"> Consumables</a></li>
            <li> | </li>
            <li> <a href="#"> Painting</a></li>
            <li> | </li>
            <li> <a href="#"> Accessories</a></li>
            <li> | </li>
            <li> <a href="#"> Applicators</a></li>
            <li> | </li>
            <li> <a href="#"> Textured</a></li>
            <li> | </li>
            <li> <a href="#"> Paints </a></li>
            <li> | </li>
            <li> <a href="#"> Bathroom </a></li>
            <li> | </li>
            <li> <a href="#"> Bathroom</a></li>
            <li> | </li>
            <li> <a href="#"> Faucets</a></li>
            <li> | </li>
            <li> <a href="#"> Commodes</a></li>
            <li> | </li>
            <li> <a href="#"> Wash</a></li>
            <li> | </li>
            <li> <a href="#"> Basins</a></li>
            <li> | </li>
            <li> <a href="#"> Showers</a></li>
            <li> | </li>
            <li> <a href="#"> Wellness</a></li>
            <li> | </li>
            <li> <a href="#"> Bathroom</a></li>
            <li> | </li>
            <li> <a href="#"> Accessories</a></li>
            <li> | </li>
            <li> <a href="#"> Carpentry</a></li>
            <li> | </li>
            <li> <a href="#"> Plywood</a></li>
            <li> | </li>
            <li> <a href="#"> MDF</a></li>
            <li> | </li>
            <li> <a href="#"> Board</a></li>
            <li> | </li>
            <li> <a href="#"> Particle</a></li>
            <li> | </li>
            <li> <a href="#"> Board</a></li>
            <li> | </li>
            <li> <a href="#"> Blockboard</a></li>
            <li> | </li>
            <li> <a href="#"> Laminate</a></li>
            <li> | </li>
            <li> <a href="#"> Veneer</a></li>
            <li> | </li>
            <li> <a href="#"> Adhesive</a></li>
            <li> | </li>
            <li> <a href="#"> Doors</a></li>
            <li> | </li>
            <li> <a href="#"> Windows</a></li>
            <li> | </li>
            <li> <a href="#"> Metal</a></li>
            <li> | </li>
            <li> <a href="#"> Doors</a></li>
            <li> | </li>
            <li> <a href="#"> Prehung </a></li>
            <li> | </li>
            <li> <a href="#"> Doors</a></li>
            <li> | </li>
            <li> <a href="#"> Décor</a></li>
            <li> | </li>
            <li> <a href="#"> Hardware</a></li>
            <li> | </li>
            <li> <a href="#"> Locks</a></li>
            <li> | </li>
            <li> <a href="#"> Door</a></li>
            <li> | </li>
            <li> <a href="#"> Windows</a></li>
            <li> | </li>
            <li> <a href="#"> Hardware</a></li>
            <li> | </li>
            <li> <a href="#"> Brace</a></li>
            <li> | </li>
            <li> <a href="#">Brackets</a></li>
            <li> | </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="copy-right">2018. Denmakers Solutions Pvt. Ltd. All rights reserved</div>
</footer>

