<meta name="google-signin-client_id" content="859852954609-m78vvbl7vfq6g4t511460o2l1carjttq.apps.googleusercontent.com">
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
  rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">






<!--  ====================== HEADER =========================== -->
<header ng-controller="headerController">
  <div class="container">
    <div class="row">
      <!-- =============== logo_section ================ -->
      <div class="col-md-2 col-sm-2">
        <div class="logo">
          <a href="index.html">
            <img src="images/logo.png" alt="" />
          </a>
        </div>
      </div>
      <!-- =============== End_logo_section ================ -->
      <!-- ================ right_header ================== -->
      <div class="col-md-10 col-sm-10">
        <div class="right_header">
          <!-- ====================== top_contact ========================= -->
          <div class="top_right_header">
            <i class="fa fa-phone-square" aria-hidden="true"></i> +91 9836215999 |
            <i class="fa fa-whatsapp" aria-hidden="true" style="margin-left:5px;"></i> +91 9836245999 </div>
          <!-- ====================== end_top_contact ========================= -->
          <div class="clear"></div>
          <!-- =============== product_dropdown ======================= -->
          <div class="product_dropdown dropdown" id="exception">
            <button class="btn btn-default" type="button" aria-expanded="false" ng-click="showSubmenu($event)" >Products
              <span class="caret caret_main"></span>
            </button>

            <ul class="dropdown-menu mainproblem" id="product_menu">

              <li class="dropdown-submenu " ng-repeat="product in product_categories" ng-if="product.ParentCategoryId == 0">

                <a class="caret_child" tabindex="-1" href="#" ng-mouseover="showSubmenu($event)">{{ product.Name }}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu nchild">
                  <li class="clsfrdrpdwn" ng-repeat="newproduct in product_categories" ng-if="newproduct.ParentCategoryId == 1">
                    <a class="caret_newchild" ng-mouseover="showSubmenu($event , 'child')" tabindex="-1" href="#">{{ newproduct.Name }}</a>


                    <ul class="dropdown-menu child" style="display: none">


                      <li ng-repeat="newproducts in product_categories" ng-if="newproducts.ParentCategoryId == newproduct.Id">

                        <a href="#" ng-click="get_category_product(newproducts.Id)">{{ newproducts.Name }}</a>

                      </li>

                    </ul>



                  </li>





                </ul>
              </li>
            </ul>
          </div>

          <!-- =============== End_product_dropdown ======================= -->
          <!-- =============== Services_dropdown ======================= -->
          <div class="Services_dropdown dropdown service_div">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Services
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a tabindex="-1" href="#" ng-click="redirect('property_consultancy.html')">Property Consultancy</a>
              </li>
              <li>
                <a tabindex="-1" href="#" ng-click="redirect('interior.html')">Interior Consultancy</a>
              </li>
              <li>
                <a tabindex="-1" href="#" ng-click="redirect('property_inspection.html')">Property Inspection</a>
              </li>
              <li>
                <a tabindex="-1" href="#" ng-click="redirect('book_service.html')">Ancillary Services</a>
              </li>


            </ul>
          </div>
          <!-- =============== End_Services_dropdown ======================= -->
          <!-- ========================= search ========================== -->
          <div class="headr_search">
            <div class="input-group stylish-input-group">
              <input type="text" class="form-control" id="searchResult" placeholder="Search" ng-model="searchDetails" my-enter="getProducts(searchDetails)"
              />
              <span class="input-group-addon">
                <button type="submit" ng-click="getProducts(searchDetails)">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </div>
          <!-- ========================= end search ========================== -->
          <!-- ========================= signin_list ========================== -->
          <div class="signin_list">
            <ul>
              <li>
                <a href="supply_register.html" ng-if="logged_in_token == undefined">Sell with Denmakers</a>
              </li>
              <li>
                <a href="javascript:void(0)" ng-click="redirect('signin.html')" ng-if="logged_in_token == undefined">Sign in</a>
              </li>
              <!-- <li><a href="javascript:void(0)" ng-click="do_logout()" ng-if="logged_in_token != undefined">Logout</a></li> -->
              <li>

                <div class="dropdown" ng-if="logged_in_token != undefined">
                  <div class="dropdown-toggle" type="button" data-toggle="dropdown">Account
                    <span class="caret"></span>
                  </div>

                  <ul class="account_drop dropdown-menu">
                    <li>
                      <a tabindex="-1" href="#" ng-click="redirect('profile.html')">My Profile</a>
                    </li>
                    <li>
                      <a href="#" ng-click="redirect('myWishlist.html')">My Wish List</a>
                    </li>
                    <li>
                      <a href="#" ng-click="redirect('mySample.html')">My Sample</a>
                    </li>
                    <li>
                      <a href="#" ng-click="redirect('myOrder.html')">My Order</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" ng-click="do_logout()">Logout</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="cart.html" ng-click="">Cart({{total_cart_length}})</a>
              </li>
            </ul>
          </div>
          <!-- ========================= signin_list ========================== -->
        </div>
      </div>
      <!-- ================ end_right_header ================= -->
    </div>
  </div>


  <div class="modal fade" id="cartModel" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center>
            <h4 class="modal-title">My Cart</h4>
          </center>
        </div>
        <div class="modal-body">
          <table class="table">
            <tr>
              <th>
                <b>Product Name</b>
              </th>
              <th>
                <b>Store Name</b>
              </th>
              <th>
                <b>Quantity</b>
              </th>
              <th>
                <b>Price</b>
              </th>
            </tr>

            <tr ng-repeat="cart in cart_item">
              <td>{{ cart.ProductName }}</td>
              <td>{{ cart.Store }}</td>
              <td>{{ cart.Quantity }}</td>
              <td>{{ cart.Total }}</td>


            </tr>





          </table>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</header>

<!--
<script src="https://apis.google.com/js/platform.js" async defer></script> -->


<script>
  $(document).ready(function () {



    $(".service_div").on('click', function () {

      $('.caret_main').closest('button').next().hide()

    });


    $(".caret_main").on('click', function () {

      $(this).closest('button').next().toggle()

    });



    $('body').on('click', function (event) {


      //  alert($(event.target).closest('#exception').length);

      if ($(event.target).closest('#exception').length === 0) {


        $(".mainproblem").hide();

      }


    });





  });
</script>