<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<title>Denmakers</title>
<!-- ============= css =============== -->
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/responsive.css" rel="stylesheet" type="text/css">
<link href="css/icons.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">

<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
</head>
<body class="dreamsale" ng-app="dreamsaleApp" ng-controller="orderController">


<div>

<!--  ====================== HEADER =========================== -->


<span ng-bind-html="data"></span>



<ng-include src="'header.html'"></ng-include>
<div class="container">
  <div class="col-sm-12">
    <div class="plceordr">

      <div class="table-responsive">

        <table class="table">
           <thead>
             <tr>
               <th>#Order Number</th>
               <th>Order Amount</th>
               <th>Payment Status</th>
               <th>Order Status</th>
               <th>Shipping Status</th>
               <th>Action</th>

             </tr>
           </thead>
           <tbody>
             <tr ng-repeat="products in order_details.Data">
               <td>{{ products.Id }}</td>
               <td>{{ products.OrderTotal }}</td>
               <td><p class="success">{{ products.PaymentStatus }}</p></td>
               <td><p class="warning">{{ products.OrderStatus }}</p></td>
               <td><p class="warning">{{ products.ShippingStatus }}</p></td>
               <td><button class="btn btn-warning" ng-if="products.PaymentStatus == 'Pending'" ng-click="makePayment(products.Id)">Make Payment</button></td>

             </tr>
           </tbody>
         </table>
         </div>
    </div>
  </div>
</div>
<!-- =========================== footer ================= -->
  <ng-include src="'footer.html'"></ng-include>
<!-- =========================== end_footer ================= -->

</div>

<!-- ============= js  =============== -->

<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/npm.js"></script>
<script type="text/javascript" src="js/jquery.carouFredSel-6.2.1.js"></script>

<script type="text/javascript">
//paste this code under head tag or in a seperate js file.
 // Wait for window load
  $(window).load(function()
  {
  // Animate loader off screen
  $(".se-pre-con").fadeOut("slow");
  });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
<script type="text/javascript" src="js/frontend/app.js"></script>
<script type="text/javascript" src="js/frontend/headerController.js"></script>
<script type="text/javascript" src="js/frontend/orderController.js"></script>
<script type="text/javascript" src="js/angular-sanitize.min.js"></script>


<script type="text/javascript">
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });

   $('.dropdown-submenu a.test_1').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });



});
</script>
<!-- testimonials_slide -->
<script type="text/javascript">
         $(window).load(function() {


         	$('ul.cl_gslider_sec').carouFredSel({
                 	auto:false,
                 	responsive:true,
                 	width:'100%',
                 	prev:'.prv_btn1_cxw',
                 	next:'.nxt_btn1_cxw',
                 	scroll:1,

                 	items:{
                 		height:'variable',
                 		visible: {
                 			max: 1,
                 			min: 1
                 			}
                 		}
                 	})

         });
      </script>
<!-- testimonials_slide -->
<!-- ================= marquee ================ -->
<script type="text/javascript">
$(function() {
    $('marquee').mouseover(function() {
        $(this).attr('scrollamount',0);
    }).mouseout(function() {
         $(this).attr('scrollamount',5);
    });

});
</script>

<!-- ================== end marquee =================== -->
<!-- ============= end_js  =============== -->

</body>
</html>
