<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<title>Denmakers</title>
<!-- ============= css =============== -->
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/responsive.css" rel="stylesheet" type="text/css">
<link href="css/icons.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">

<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
</head>
<body class="dreamsale" ng-app="dreamsaleApp" ng-controller="sampleListController">
<div class="se-pre-con"></div>

<div>

<!--  ====================== HEADER =========================== -->



<ng-include src="'header.html'"></ng-include>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
          <div class="tbel-caret">
          <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cart in cart_item.Items">
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                      <a class="thumbnail pull-left" href="#">

                                <img class="media-object" ng-if="cart.Picture.ImageUrl != ''" src="{{ cart.Picture.ImageUrl }}" style="width: 72px; height: 72px;" alt="No Image Available">
                                <img class="media-object" ng-if="cart.Picture.ImageUrl == ''" src="images/noImages.png" style="width: 72px; height: 72px;" alt="No Image Available">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{ cart.ProductName }}</a></h4>
                              <!--  <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>  -->
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="email" class="form-control" id="exampleInputEmail1" value="{{ cart.Quantity }}">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ cart.UnitPrice }}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ cart.Total }}</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger" ng-click="removeItem(cart.Id)">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>

                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>{{ cart_item.OrderTolal.SubTotal }}</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>{{ cart_item.OrderTolal.Shipping }}</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>{{ cart_item.OrderTolal.OrderTotal }}</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <a type="button" class="btn btn-default" href="index.html">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </a></td>
                        <td>
                        <a href="cartCheckout.html" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </a></td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
        </div>
    </div>
</div>

<!-- =========================== footer ================= -->
  <ng-include src="'footer.html'"></ng-include>
<!-- =========================== end_footer ================= -->

</div>

<!-- ============= js  =============== -->

<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/npm.js"></script>
<script type="text/javascript" src="js/jquery.carouFredSel-6.2.1.js"></script>
<script type="text/javascript">
//paste this code under head tag or in a seperate js file.
 // Wait for window load
  $(window).load(function()
  {
  // Animate loader off screen
  $(".se-pre-con").fadeOut("slow");
  });
</script>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
<script type="text/javascript" src="js/frontend/app.js"></script>
<script type="text/javascript" src="js/frontend/headerController.js"></script>
<script type="text/javascript" src="js/frontend/sampleListController.js"></script>
<script type="text/javascript" src="js/angular-sanitize.min.js"></script>


<script type="text/javascript">
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });

   $('.dropdown-submenu a.test_1').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });



});
</script>
<!-- testimonials_slide -->
<script type="text/javascript">
         $(window).load(function() {


         	$('ul.cl_gslider_sec').carouFredSel({
                 	auto:false,
                 	responsive:true,
                 	width:'100%',
                 	prev:'.prv_btn1_cxw',
                 	next:'.nxt_btn1_cxw',
                 	scroll:1,

                 	items:{
                 		height:'variable',
                 		visible: {
                 			max: 1,
                 			min: 1
                 			}
                 		}
                 	})

         });
      </script>
<!-- testimonials_slide -->
<!-- ================= marquee ================ -->
<script type="text/javascript">
$(function() {
    $('marquee').mouseover(function() {
        $(this).attr('scrollamount',0);
    }).mouseout(function() {
         $(this).attr('scrollamount',5);
    });

});
</script>


<!-- ================== end marquee =================== -->
<!-- ============= end_js  =============== -->

</body>
</html>
