<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1">
  <meta name="format-detection" content="telephone=no">
  <title>Denmakers</title>
  <!-- ============= css =============== -->
  <link href="css/lightslider.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="css/responsive.css" rel="stylesheet" type="text/css">



  <link href="css/icons.css" rel="stylesheet" type="text/css">
  <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
  <!-- custom scrollbar stylesheet -->
  <!--[if IE]><style type="text/css">.pie {behavior:url(PIE.htc);}</style><![endif]-->
  <!-- ============= css =============== -->
  <!-- =========================== google_font ===================== -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <!-- ============================ end_Googlefont ==================== -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/html5element.js"></script>
    <script src="js/respond-1.1.0.min.js"></script>
<![endif]-->

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script type="text/javascript" src="js/angularController.js"></script>
  <script type="text/javascript" src="js/angular-sanitize.min.js"></script>



</head>

<body class="dreamsale" ng-app="dreamsaleApp" ng-controller="productDetailsController" ng-init="loadProductDetails()">
  <div class="se-pre-con"></div>


  <ng-include src="'header.html'"></ng-include>


  <!--  ====================== End_HEADER =========================== -->
  <!-- =========================== search_result ============================== -->
  <div class="search_rslt_outer_part">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <p>
            <a href="/dreamsale" style="text-decoration: none">Home
              <i class="fa fa-angle-right"></i>
            </a>
            <a href="search_result.html?category_id=" style="text-decoration: none">Products </a>
            <i class="fa fa-angle-right"></i>{{product_details.Name }} </p>
        </div>



        <!-- ============================= product_left ============================== -->
        <center>
          <h1 class="outofstcak" ng-if="product_details.StockQuantity === 0">Out of Stock</h1>
        </center>


        <div class="col-md-4 col-sm-4">
          <div class="ds_product_left">
            <ul class="new_share-list share-list">
              <li>
                <i class="fa fa-share"></i>
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ current_url }}">Share</a>
              </li>
              <li>
                <i class="fa fa-bookmark-o"></i>
                <a data-toggle="modal" data-target="#myModal" href="#" data-set="{{ product_details }}" ng-click="addToList('wishlist' , $event)"
                  ng-if="product_details.StockQuantity !== 0">Add to Wish List</a>
                <a href="#" data-toggle="modal" data-target="#myModal" ng-if="product_details.StockQuantity == 0" disabled>Add to Wish List</a>

              </li>
              <li>
                <i class="fa fa-bookmark-o"></i>
                <a data-toggle="modal" data-target="#myModal" href="#" data-set="{{ product_details }}" ng-click="addToList('Sample' , $event)"
                  ng-if="product_details.StockQuantity !== 0">Add to Sample List</a>

                <a href="#" data-toggle="modal" data-target="#myModal" ng-if="product_details.StockQuantity == 0" disabled>Add to Sample List</a>

              </li>
            </ul>
            <!--
<div class="thmbl_slider item">
      <div class="clearfix">
        <ul class="image-gallery gallery list-unstyled cS-hidden">
        <li class="stamp-pic" data-thumb="images/pd_1.jpg" alt=""> <img class="full-pic" src="images/pd_1.jpg" alt=""> </li>
          <li class="stamp-pic" data-thumb="images/pd_2.jpg" alt=""> <img class="full-pic" src="images/pd_2.jpg" alt=""> </li>
          <li class="stamp-pic" data-thumb="images/pd_3.jpg" alt=""> <img class="full-pic" src="images/pd_3.jpg" alt=""> </li>
          <li class="stamp-pic" data-thumb="images/pd_4.jpg" alt=""> <img class="full-pic" src="images/pd_4.jpg" alt=""> </li>
          <li class="stamp-pic" data-thumb="images/pd_3.jpg" alt=""> <img class="full-pic" src="images/pd_3.jpg" alt=""> </li>
        <li class="stamp-pic"  ng-repeat="image in product_picture" data-thumb="{{ image.PictureUrl }}" alt="" > <img class="full-pic" src="{{ image.PictureUrl }}" alt=""> </li>
          <li class="stamp-pic" data-thumb="" alt="" ng-if="product_details.PictureThumbnailUrl != null">{{ product_details.PictureThumbnailUrl }}</li>
        <li class="stamp-pic" data-thumb="" alt="" ng-if="product_picture.length == 0"><img src="images/noImages.png" /></li>

        </ul>
      </div>
    </div>-->

            <div class="" ng-if="product_picture.length == 0">
              <img src="images/noImages.png" />
            </div>

            <div class="wrapper mysldd">

              <div class="col-sm-12">
                <div class="row">
                  <div class="preview-pic tab-content">

                    <div class="tab-pane active" ng-if="$index == 0" ng-repeat="image in product_picture" id="pic-{{ $index }}">
                      <img src="{{ image.PictureUrl }}" />
                    </div>
                    <div class="tab-pane" ng-if="$index != 0" ng-repeat="image in product_picture" id="pic-{{ $index }}">
                      <img src="{{ image.PictureUrl }}" />
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="row">
                  <ul class="preview-thumbnail nav nav-tabs">
                    <li class="active" ng-if="$index == 0" ng-repeat="image in product_picture">
                      <a data-target="#pic-{{ $index }}" data-toggle="tab">
                        <img src="{{ image.PictureUrl }}" />
                      </a>
                    </li>
                    <li class="" ng-if="$index != 0" ng-repeat="image in product_picture">
                      <a data-target="#pic-{{ $index }}" data-toggle="tab">
                        <img src="{{ image.PictureUrl }}" />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>



        <!-- ============================= end_product_left ============================== -->


        <!-- ============================= product_right ============================== -->

        <div class="col-md-8 col-sm-8">
          <div class="ds_prod_dtls">
            <div class="plus_minus_counter">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quant[2]" ng-click="decreseCounter($event)">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </span>
                <!--  <input type="text" class="form-control input-number" id="orderQuantity" value="{{ product_details.OrderMinimumQuantity}}" min="{{ product_details.OrderMinimumQuantity }}" max="{{ product_details.OrderMaximumQuantity }}"> -->

                <input type="text" class="form-control input-number" id="orderQuantity" value="1" min="1" max="100">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]" ng-click="increseCounter($event)">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>

                </span>

              </div>
            </div>

            <a class="blk_order_1 btn btn-danger" href="bulk_order.html">Bulk Order</a>
            <!-- <a class="blk_order_2" href="#">Bulk Order</a> -->

            <div class="tap_fau"></div>
            <div class="whs_pic_text2">
              <h3>{{ product_details.Name }}</h3>
              <!-- <h6><img src="images/ad.png" alt="address">Kolkata, West Bengal</h6> -->
              <div class="tap_fau">Product ID : {{ product_details.Id }}</div>
              <h6>

                <img ng-repeat="rating in rating_div" src="images/{{ rating.img }}" alt="yellow star">


                <a href="#review_div">{{total_review}} Reviews</a>

                <div class="rs_each" ng-if="newvalue == undefined">₹ {{ product_details.ProductPrice.PriceValue }} </div>

                <div class="rs_each" ng-if="newvalue != undefined">₹ {{ newvalue }} </div>

              </h6>
            </div>




            <!--  <div class="d1">
                        <h5>Check In</h5>
                        <p>Fri, 21 Oct 2016</p>
                     </div>
  <div class="d1">
                        <h5>Check OUT</h5>
                        <p>sat, 22 Oct 2016</p>
                     </div>
  <div class="d1">
                        <h5>rooms</h5>
                        <p>2</p>
                     </div> -->




            <div class="getspcl">
              <!-- <h5>Get special 40% Discount on early check in</h5>  -->
              <ul>
                <li>{{ product_details.ShortDescription }}</li>

              </ul>
              <h4>
                <span>offer</span>20% on HDFC, AXIS Bank credit and debit cards</h4>

            </div>


            <p class="selectyouhve">{{ selectedMessage }}
              <a style=" text-decoration:none; color:#fff;
   " href="javascript:void(0)" ng-click="removeItem()" ng-if="show == 1">
                <i class="fa fa-close"></i>
              </a>
            </p>


            <div class="chngeclr" ng-repeat="attributes in product_details.ProductAttributes">
              <h4>{{ attributes.Name }}</h4>

              <div class="demopackgetype" ng-repeat="attrib in attributes.Values" ng-click="setAttribObj(attrib , attributes.ProductId)">
                <img src="images/noImages.png" alt="demo">
                <a class="green_clr" href="javascript:void(0)" style="color:red">{{ attrib.Name }}</a>

              </div>
              <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger" data-set="{{ product_details }}"
                ng-click="addToList('cart' , $event)" ng-if="product_details.StockQuantity !== 0">+ Add To Cart</button>

              <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger" ng-if="product_details.StockQuantity == 0"
                disabled>+ Add To Cart</button>

              <!-- Modal -->
              <div class="modal fade mdlfrout" id="myModal" role="dialog">
                <div class="modal-dialog modal-md">
                  <div class="modal-content">

                    <button type="button" style="font-size:40px; opacity:1;    color: #fff;    margin-right: 10px;" class="close" data-dismiss="modal">&times;</button>

                    <div class="modal-body">
                      <span class="" ng-bind-html="message" style=" color: #fff;">



                      </span>

                      <p class="selectyouhve">{{ selectedMessage }}
                        <a style="    width: auto;
   " href="javascript:void(0)" ng-click="removeItem()" ng-if="show == 1">
                          <i class="fa fa-close"></i>
                        </a>
                      </p>

                    </div>

                  </div>
                </div>
              </div>

            </div>
            <div class="tabel-section">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <h4>SPECIFICATIONS</h4>

                  <tbody>

                    <tr ng-if="product_details.Name != undefined">
                      <td>Product</td>
                      <td>{{ product_details.Name }}</td>
                    </tr>
                    <tr ng-if="product_details.Height != undefined">
                      <td>Height</td>
                      <td>{{ product_details.Height }} </td>
                    </tr>
                    <tr ng-if="product_details.Width != undefined">
                      <td>Width</td>
                      <td>{{ product_details.Width }} </td>
                    </tr>
                    <tr ng-if="product_details.Weight != undefined">
                      <td>Weight</td>
                      <td>{{ product_details.Weight }} gm</td>
                    </tr>
                    <tr ng-if="product_details.ProductTags.length > 0">
                      <td> Tags </td>
                      <td>

                        <div ng-repeat="tags in product_details.ProductTags">
                          {{ tags.Name }}
                        </div>

                      </td>

                    </tr>



                  </tbody>
                </table>
              </div>
            </div>


            <div class="description">
              <h5>Description</h5>
              <p ng-bind-html="product_details.html_full_description"></p>
            </div>
            <p style="color:green">{{ review_message }}</p>
            <div class="description description_review" id="review_div">
              <h5>Ratings and Reviews</h5>
              <div class="col-md-12">
                <div class="row">
                  <div class="well well-sm">
                    <div class="text-right">
                      <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Leave a Review</a>
                    </div>

                    <div class="row" id="post-review-box" style="display:none;">
                      <div class="col-md-12">
                        <form accept-charset="UTF-8" action="" method="post">
                          <input id="ratings-hidden" class="form-control" name="rating" ng-model="review_title" type="text" placeholder="Review Title">
                          <br>
                          <textarea class="form-control animated" cols="50" id="new-review" ng-model="review" name="comment" placeholder="Enter your review here..."
                            rows="5"></textarea>

                          <div class="text-right">
                            <div class="stars starrr" data-rating="0"></div>
                            <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
                              <span class="glyphicon glyphicon-remove"></span>Cancel</a>
                            <a href="javascript:void(0)" class="btn btn-success btn-sm" ng-click="submitReview()">Post</a>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="rating-block">
                          <h4>Average user rating</h4>
                          <h2 class="bold padding-bottom-7">{{ avg_rating }}
                            <small>/ 5</small>
                          </h2>
                          <button type="button" class="btn btn-warning " aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </button>

                        </div>
                      </div>
                      <div class="col-sm-6">
                        <h4>Rating breakdown</h4>
                        <div class="pull-left" ng-click="loadReview(5)">
                          <div class="pull-left" style="width:35px; line-height:1;">
                            <div style="height:9px; margin:5px 0;">5
                              <span class="glyphicon glyphicon-star"></span>
                            </div>
                          </div>
                          <div class="pull-left" style="width:180px;">
                            <div class="progress" style="height:9px; margin:8px 0;">
                              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
                                <span class="sr-only">80% Complete (danger)</span>
                              </div>
                            </div>
                          </div>
                          <div class="pull-right" style="margin-left:10px;">{{ rating_count.five_star }}</div>
                        </div>
                        <div class="pull-left" ng-click="loadReview(4)">
                          <div class="pull-left" style="width:35px; line-height:1;">
                            <div style="height:9px; margin:5px 0;">4
                              <span class="glyphicon glyphicon-star"></span>
                            </div>
                          </div>
                          <div class="pull-left" style="width:180px;">
                            <div class="progress" style="height:9px; margin:8px 0;">
                              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
                                <span class="sr-only">80% Complete (danger)</span>
                              </div>
                            </div>
                          </div>
                          <div class="pull-right" style="margin-left:10px;">{{ rating_count.four_star }}</div>
                        </div>
                        <div class="pull-left" ng-click="loadReview(3)">
                          <div class="pull-left" style="width:35px; line-height:1;">
                            <div style="height:9px; margin:5px 0;">3
                              <span class="glyphicon glyphicon-star"></span>
                            </div>
                          </div>
                          <div class="pull-left" style="width:180px;">
                            <div class="progress" style="height:9px; margin:8px 0;">
                              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
                                <span class="sr-only">80% Complete (danger)</span>
                              </div>
                            </div>
                          </div>
                          <div class="pull-right" style="margin-left:10px;">{{ rating_count.three_star }}</div>
                        </div>
                        <div class="pull-left" ng-click="loadReview(2)">
                          <div class="pull-left" style="width:35px; line-height:1;">
                            <div style="height:9px; margin:5px 0;">2
                              <span class="glyphicon glyphicon-star"></span>
                            </div>
                          </div>
                          <div class="pull-left" style="width:180px;">
                            <div class="progress" style="height:9px; margin:8px 0;">
                              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
                                <span class="sr-only">80% Complete (danger)</span>
                              </div>
                            </div>
                          </div>
                          <div class="pull-right" style="margin-left:10px;">{{ rating_count.two_star }}</div>
                        </div>
                        <div class="pull-left" ng-click="loadReview(1)">
                          <div class="pull-left" style="width:35px; line-height:1;">
                            <div style="height:9px; margin:5px 0;">1
                              <span class="glyphicon glyphicon-star"></span>
                            </div>
                          </div>
                          <div class="pull-left" style="width:180px;">
                            <div class="progress" style="height:9px; margin:8px 0;">
                              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
                                <span class="sr-only">80% Complete (danger)</span>
                              </div>
                            </div>
                          </div>
                          <div class="pull-right" style="margin-left:10px;">{{ rating_count.one_star }}</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="reviewxzss" ng-repeat="review in review_data">
                    <h4>
                      <i class="fa fa-star">{{ review.Rating }}</i> {{ review.Title }}</h4>
                    <p>{{ review.ReviewText }}
                      <br>
                      <small>{{ review.CustomerName }} |
                        <i class="fa fa-check-circle"></i> Certified | {{ review.WrittenOnStr }}</small>
                    </p>
                  </div>

                  <div ng-if="total_review > 2">
                    <button class="btn btn-warning" ng-click="loadReview('load_more')">Load More review </button>
                  </div>



                </div>
              </div>

            </div>


          </div>

        </div>

        <!-- ============================= end_product_right ============================== -->


      </div>
    </div>
  </div>
  <!-- ========================= end search_result =========================== -->
  <!-- =========================== footer ================= -->
  <ng-include src="'footer.html'"></ng-include>
  <!-- =========================== end_footer ================= -->
  <!-- ============= js  =============== -->

  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/npm.js"></script>

  <script type="text/javascript" src="js/lightslider.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
  <script type="text/javascript" src="js/frontend/app.js"></script>
  <script type="text/javascript" src="js/frontend/headerController.js"></script>
  <script type="text/javascript" src="js/frontend/common.js"></script>
  <script type="text/javascript" src="js/frontend/productDetailsController.js"></script>
  <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
  <script>
    $(document).ready(function () {
      $(".oncloset").click(function () {
        $(".offcloset").hide();
      });

    });
  </script>



  <!-- custom scrollbar plugin -->
  <script type="text/javascript">
    $(document).ready(function () {
      $('.dropdown-submenu a.test').on("click", function (e) {
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
      });

      $('.dropdown-submenu a.test_1').on("click", function (e) {
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
      });



    });
  </script>
  <script type="text/javascript">
    //paste this code under head tag or in a seperate js file.
    // Wait for window load
    $(window).load(function () {
      // Animate loader off screen
      $(".se-pre-con").fadeOut("slow");
    });
  </script>


  <script type="text/javascript">
    $(document).ready(function () {
      $("#content-slider").lightSlider({
        loop: true,
        keyPress: true
      });
      $('.image-gallery').lightSlider({
        gallery: true,
        item: 1,
        thumbItem: 4,
        slideMargin: 0,
        speed: 500,
        auto: true,
        loop: true,
        onSliderLoad: function () {
          $('.image-gallery').removeClass('cS-hidden');
        }
      });
    });
  </script>



  <script type="text/javascript">
    $('.btn-number').click(function (e) {
      e.preventDefault();

      fieldName = $(this).attr('data-field');
      type = $(this).attr('data-type');
      var input = $("input[name='" + fieldName + "']");
      var currentVal = parseInt(input.val());
      if (!isNaN(currentVal)) {
        if (type == 'minus') {

          if (currentVal > input.attr('min')) {
            input.val(currentVal - 1).change();
          }
          if (parseInt(input.val()) == input.attr('min')) {
            $(this).attr('disabled', true);
          }

        } else if (type == 'plus') {

          if (currentVal < input.attr('max')) {
            input.val(currentVal + 1).change();
          }
          if (parseInt(input.val()) == input.attr('max')) {
            $(this).attr('disabled', true);
          }

        }
      } else {
        input.val(0);
      }
    });


    $('.input-number').focusin(function () {
      $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function () {

      minValue = parseInt($(this).attr('min'));
      maxValue = parseInt($(this).attr('max'));
      valueCurrent = parseInt($(this).val());

      name = $(this).attr('name');
      if (valueCurrent >= minValue) {
        $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
      } else {
        alert('Sorry, the minimum value was reached');
        $(this).val($(this).data('oldValue'));
      }
      if (valueCurrent <= maxValue) {
        $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
      } else {
        alert('Sorry, the maximum value was reached');
        $(this).val($(this).data('oldValue'));
      }


    });
  </script>
  <script>
    (function (e) {
      var t, o = {
          className: "autosizejs",
          append: "",
          callback: !1,
          resizeDelay: 10
        },
        i =
        '<textarea tabindex="-1" style="position:absolute; top:-999px; left:0; right:auto; bottom:auto; border:0; padding: 0; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; word-wrap:break-word; height:0 !important; min-height:0 !important; overflow:hidden; transition:none; -webkit-transition:none; -moz-transition:none;"/>',
        n = ["fontFamily", "fontSize", "fontWeight", "fontStyle", "letterSpacing", "textTransform", "wordSpacing",
          "textIndent"
        ],
        s = e(i).data("autosize", !0)[0];
      s.style.lineHeight = "99px", "99px" === e(s).css("lineHeight") && n.push("lineHeight"), s.style.lineHeight = "",
        e.fn.autosize = function (i) {
          return this.length ? (i = e.extend({}, o, i || {}), s.parentNode !== document.body && e(document.body).append(
            s), this.each(function () {
            function o() {
              var t, o;
              "getComputedStyle" in window ? (t = window.getComputedStyle(u, null), o = u.getBoundingClientRect()
                .width, e.each(["paddingLeft", "paddingRight", "borderLeftWidth", "borderRightWidth"],
                  function (e, i) {
                    o -= parseInt(t[i], 10)
                  }), s.style.width = o + "px") : s.style.width = Math.max(p.width(), 0) + "px"
            }

            function a() {
              var a = {};
              if (t = u, s.className = i.className, d = parseInt(p.css("maxHeight"), 10), e.each(n, function (e,
                  t) {
                  a[t] = p.css(t)
                }), e(s).css(a), o(), window.chrome) {
                var r = u.style.width;
                u.style.width = "0px", u.offsetWidth, u.style.width = r
              }
            }

            function r() {
              var e, n;
              t !== u ? a() : o(), s.value = u.value + i.append, s.style.overflowY = u.style.overflowY, n =
                parseInt(u.style.height, 10), s.scrollTop = 0, s.scrollTop = 9e4, e = s.scrollTop, d && e > d ?
                (u.style.overflowY = "scroll", e = d) : (u.style.overflowY = "hidden", c > e && (e = c)), e +=
                w, n !== e && (u.style.height = e + "px", f && i.callback.call(u, u))
            }

            function l() {
              clearTimeout(h), h = setTimeout(function () {
                var e = p.width();
                e !== g && (g = e, r())
              }, parseInt(i.resizeDelay, 10))
            }
            var d, c, h, u = this,
              p = e(u),
              w = 0,
              f = e.isFunction(i.callback),
              z = {
                height: u.style.height,
                overflow: u.style.overflow,
                overflowY: u.style.overflowY,
                wordWrap: u.style.wordWrap,
                resize: u.style.resize
              },
              g = p.width();
            p.data("autosize") || (p.data("autosize", !0), ("border-box" === p.css("box-sizing") ||
                "border-box" === p.css("-moz-box-sizing") || "border-box" === p.css("-webkit-box-sizing")) &&
              (w = p.outerHeight() - p.height()), c = Math.max(parseInt(p.css("minHeight"), 10) - w || 0, p.height()),
              p.css({
                overflow: "hidden",
                overflowY: "hidden",
                wordWrap: "break-word",
                resize: "none" === p.css("resize") || "vertical" === p.css("resize") ? "none" : "horizontal"
              }), "onpropertychange" in u ? "oninput" in u ? p.on("input.autosize keyup.autosize", r) : p.on(
                "propertychange.autosize",
                function () {
                  "value" === event.propertyName && r()
                }) : p.on("input.autosize", r), i.resizeDelay !== !1 && e(window).on("resize.autosize", l), p
              .on("autosize.resize", r), p.on("autosize.resizeIncludeStyle", function () {
                t = null, r()
              }), p.on("autosize.destroy", function () {
                t = null, clearTimeout(h), e(window).off("resize", l), p.off("autosize").off(".autosize").css(
                  z).removeData("autosize")
              }), r())
          })) : this
        }
    })(window.jQuery || window.$);

    var __slice = [].slice;
    (function (e, t) {
      var n;
      n = function () {
        function t(t, n) {
          var r, i, s, o = this;
          this.options = e.extend({}, this.defaults, n);
          this.$el = t;
          s = this.defaults;
          for (r in s) {
            i = s[r];
            if (this.$el.data(r) != null) {
              this.options[r] = this.$el.data(r)
            }
          }
          this.createStars();
          this.syncRating();
          this.$el.on("mouseover.starrr", "span", function (e) {
            return o.syncRating(o.$el.find("span").index(e.currentTarget) + 1)
          });
          this.$el.on("mouseout.starrr", function () {
            return o.syncRating()
          });
          this.$el.on("click.starrr", "span", function (e) {
            return o.setRating(o.$el.find("span").index(e.currentTarget) + 1)
          });
          this.$el.on("starrr:change", this.options.change)
        }
        t.prototype.defaults = {
          rating: void 0,
          numStars: 5,
          change: function (e, t) {}
        };
        t.prototype.createStars = function () {
          var e, t, n;
          n = [];
          for (e = 1, t = this.options.numStars; 1 <= t ? e <= t : e >= t; 1 <= t ? e++ : e--) {
            n.push(this.$el.append("<span class='glyphicon .glyphicon-star-empty'></span>"))
          }
          return n
        };
        t.prototype.setRating = function (e) {
          if (this.options.rating === e) {
            e = void 0
          }
          this.options.rating = e;
          this.syncRating();
          return this.$el.trigger("starrr:change", e)
        };
        t.prototype.syncRating = function (e) {
          var t, n, r, i;
          e || (e = this.options.rating);
          if (e) {
            for (t = n = 0, i = e - 1; 0 <= i ? n <= i : n >= i; t = 0 <= i ? ++n : --n) {
              this.$el.find("span").eq(t).removeClass("glyphicon-star-empty").addClass("glyphicon-star")
            }
          }
          if (e && e < 5) {
            for (t = r = e; e <= 4 ? r <= 4 : r >= 4; t = e <= 4 ? ++r : --r) {
              this.$el.find("span").eq(t).removeClass("glyphicon-star").addClass("glyphicon-star-empty")
            }
          }
          if (!e) {
            return this.$el.find("span").removeClass("glyphicon-star").addClass("glyphicon-star-empty")
          }
        };
        return t
      }();
      return e.fn.extend({
        starrr: function () {
          var t, r;
          r = arguments[0], t = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
          return this.each(function () {
            var i;
            i = e(this).data("star-rating");
            if (!i) {
              e(this).data("star-rating", i = new n(e(this), r))
            }
            if (typeof r === "string") {
              return i[r].apply(i, t)
            }
          })
        }
      })
    })(window.jQuery, window);
    $(function () {
      return $(".starrr").starrr()
    })

    $(function () {

      $('#new-review').autosize({
        append: "\n"
      });

      var reviewBox = $('#post-review-box');
      var newReview = $('#new-review');
      var openReviewBtn = $('#open-review-box');
      var closeReviewBtn = $('#close-review-box');
      var ratingsField = $('#ratings-hidden');

      openReviewBtn.click(function (e) {
        reviewBox.slideDown(400, function () {
          $('#new-review').trigger('autosize.resize');
          newReview.focus();
        });
        openReviewBtn.fadeOut(100);
        closeReviewBtn.show();
      });

      closeReviewBtn.click(function (e) {
        e.preventDefault();
        reviewBox.slideUp(300, function () {
          newReview.focus();
          openReviewBtn.fadeIn(200);
        });
        closeReviewBtn.hide();

      });

      $('.starrr').on('starrr:change', function (e, value) {
        //  ratingsField.val(value);
      });
    });
  </script>


  <!-- ============= end_js  =============== -->
</body>

</html>