<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1">
  <meta name="format-detection" content="telephone=no">
  <title>Denmakers</title>
  <!-- ============= css =============== -->
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="css/responsive.css" rel="stylesheet" type="text/css">
  <link href="css/icons.css" rel="stylesheet" type="text/css">
  <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
</head>

<body class="dreamsale" ng-app="dreamsaleApp">

  <div class="se-pre-con"></div>

  <div>

    <!--  ====================== HEADER =========================== -->



    <ng-include src="'header.html'"></ng-include>


    <div class="container" ng-controller="ProfileController">
      <div class="col-sm-12">


        <form class="dreamsale_profile_sec form-horizontal">





          <fieldset>

            <!-- Form Name -->
            <legend>User Profile Form</legend>

            <!-- Text input-->


            <div class="form-group">
              <label class="col-md-4 control-label" for="Name (Full name)">First Name</label>
              <div class="col-md-4">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input id="first_name" name="First Name" type="text" placeholder="First Name" class="form-control input-md" value="{{ profile_data.Firstname }}">
                </div>
              </div>
            </div>



            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="Last Name">Last Name</label>
              <div class="col-md-4">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input id="last_name" name="Last Name" type="text" placeholder="Last Name" class="form-control input-md" value="{{ profile_data.Lastname }}">
                </div>
              </div>
            </div>



            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="Phone number ">Phone Number </label>
              <div class="col-md-4">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <input id="phone_number" name="Phone number " type="text" placeholder="Phone Number " class="form-control input-md" value="{{ profile_data.MobileNumber }}"
                    onkeypress="return validate(this , 'number')">
                </div>
              </div>
            </div>
            <div class="form-group" style="display: none" id="OTPbox">
              <label class="col-md-4 control-label" for="OTP">OTP</label>
              <div class="col-md-4">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <input id="OTP" name="OTP" type="text" placeholder="Enter OTP" class=" input-md"
                    onkeypress="return validate(this , 'number')">
                    <button class="btn btn-primary" ng-click="verifyOTP()">Verify OTP</button>
                </div>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="Email Address">Email Address</label>
              <div class="col-md-4">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-envelope-o"></i>
                  </div>
                  <input id="email_address" name="Email Address" type="email" placeholder="Email Address" data-ng-model="profile_data.Email"
                    class="form-control input-md">
                </div>
              </div>
            </div>


            <!-- Textarea -->
            <!--


<div class="form-group">
<label class="col-md-4 control-label" for="address">Address</label>
<div class="col-md-4">
<textarea class="form-control" rows="10"  id="address" name="address">{{ profile_data.StreetAddress }}</textarea>
</div>
</div>  -->

<!--
            <div class="form-group">
              <label class="col-md-4 control-label" for="City">City</label>
              <div class="col-md-4">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-map-marker"></i>
                  </div>
                  <input id="city" name="city" type="text" placeholder="City" value="{{ profile_data.City }}" class="form-control input-md">
                </div>
              </div>
            </div> -->


            <center>
              <p style="color:red">{{ validation_message }}</p>
            </center>
            <div class="form-group">
              <label class="col-md-4 control-label"></label>
              <div class="col-md-4">
                <a href="#" class="btn btn-success" ng-click="updateUserRecord()">
                  <span class="glyphicon glyphicon-thumbs-up"></span> Update </a>
                <a href="#" class="btn btn-danger" value="" ng-click="userRecord()">
                  <span class="glyphicon glyphicon-remove-sign"></span> Reset </a>
              </div>
            </div>

          </fieldset>
        </form>



      </div>
    </div>



    <!-- =========================== end-about_dreamsale ================= -->
    <!-- =========================== footer ================= -->
    <ng-include src="'footer.html'"></ng-include>
    <!-- =========================== end_footer ================= -->

  </div>

  <!-- ============= js  =============== -->

  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/npm.js"></script>
  <script type="text/javascript" src="js/jquery.carouFredSel-6.2.1.js"></script>

  <script type="text/javascript">
    //paste this code under head tag or in a seperate js file.
    // Wait for window load
    $(window).load(function () {
      // Animate loader off screen
      $(".se-pre-con").fadeOut("slow");
    });
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
  <script type="text/javascript" src="js/frontend/app.js"></script>
  <script type="text/javascript" src="js/frontend/headerController.js"></script>
  <script type="text/javascript" src="js/frontend/profileController.js"></script>
  <script type="text/javascript" src="js/angular-sanitize.min.js"></script>


  <script type="text/javascript">
    $(document).ready(function () {
      $('.dropdown-submenu a.test').on("click", function (e) {
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
      });

      $('.dropdown-submenu a.test_1').on("click", function (e) {
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
      });



    });
  </script>
  <!-- testimonials_slide -->
  <script type="text/javascript">
    $(window).load(function () {


      $('ul.cl_gslider_sec').carouFredSel({
        auto: false,
        responsive: true,
        width: '100%',
        prev: '.prv_btn1_cxw',
        next: '.nxt_btn1_cxw',
        scroll: 1,

        items: {
          height: 'variable',
          visible: {
            max: 1,
            min: 1
          }
        }
      })

    });
  </script>
  <!-- testimonials_slide -->
  <!-- ================= marquee ================ -->
  <script type="text/javascript">
    $(function () {
      $('marquee').mouseover(function () {
        $(this).attr('scrollamount', 0);
      }).mouseout(function () {
        $(this).attr('scrollamount', 5);
      });

    });
  </script>

  <!-- ================== end marquee =================== -->
  <!-- ============= end_js  =============== -->

</body>

</html>