<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="google-signin-client_id" content="859852954609-m78vvbl7vfq6g4t511460o2l1carjttq.apps.googleusercontent.com">
<title>Denmakers</title>
<!-- ============= css =============== -->
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/responsive.css" rel="stylesheet" type="text/css">
<link href="css/icons.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">


</head>

<body class="dreamsale"  ng-app="dreamsaleApp">

    <div class="container">
        <div id="loginbox" class="cstm_sing mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" ng-controller="resetController">
          <div class="panel panel-info" >
            <div class="form_panel-heading">
              <div class="panel-title">Sign In</div>
            </div>
            <center><p style="color:green">{{ changeMessage }}</p>
            <div style="padding-top:30px" class="panel-body" >
              <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
              <form id="loginform" class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="firstname" class="col-md-2 col-xs-2 control-label"><i class="glyphicon glyphicon-lock"></i></label>
                  <div class="col-md-10 col-xs-10">
                    <input type="password" class="form-control" name="Email" placeholder="New Password" ng-model="newPassword" >
                  </div>
                </div>
                <div class="form-group">
                  <label for="firstname" class="col-md-2 col-xs-2 control-label"><i class="glyphicon glyphicon-lock"></i></label>
                  <div class="col-md-10 col-xs-10">
                    <input type="password" class="form-control" name="Password" placeholder="Confirm Password" ng-model="confirmPassword" >
                  </div>
                </div>

                <div class="form-group">

                  <div class="col-md-10 col-xs-10 col-md-offset-2 text-left">
                      <input name="" id="" type="checkbox" ng-model="login_remeber"> Remember Me
                  </div>
                </div>

                <div class="form-group">
                 <div class="col-md-offset-2 col-md-10 controls"></div>
                </div>



                <div class="form-group">
                  <!-- Button -->
                  <div class="col-md-offset-2 col-md-10 controls"> <a id="btn-login" href="#" class="btn btn-danger" ng-if="disabled === false" ng-click="changePassword()">Change </a>
                  <div class="col-md-offset-2 col-md-10 controls"> <a id="btn-login" href="#" class="btn btn-danger" ng-if="disabled === true" disabled>Change </a>


                     <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->





                   </div>
                </div>

              </form>
            </div>
          </div>
        </div>
    </div>

    <script type="text/javascript" src="https://connect.facebook.net/en_us/sdk.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
<script type="text/javascript" src="js/frontend/app.js"></script>
<script type="text/javascript" src="js/frontend/headerController.js"></script>
<script type="text/javascript" src="js/frontend/resetController.js"></script>






</body>
</html>