<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1">
  <meta name="format-detection" content="telephone=no">
  <title>Denmakers</title>
  <!-- ============= css =============== -->
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="css/responsive.css" rel="stylesheet" type="text/css">
  <link href="css/icons.css" rel="stylesheet" type="text/css">
  <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/build.css" type="text/css">
  <!-- custom scrollbar stylesheet -->
  <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
  <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
  <!--[if IE]><style type="text/css">.pie {behavior:url(PIE.htc);}</style><![endif]-->
  <!-- ============= css =============== -->
  <!-- =========================== google_font ===================== -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <!-- ============================ end_Googlefont ==================== -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/html5element.js"></script>
    <script src="js/respond-1.1.0.min.js"></script>
<![endif]-->
</head>

<body class="dreamsale" ng-app="dreamsaleApp" ng-controller="productResultController" ng-init="loadProducts()">
  <div class="container">
    <div class="se-pre-con"></div>
    <!--  ====================== HEADER =========================== -->
    <ng-include src="'header.html'"></ng-include>

    <!--  ====================== End_HEADER =========================== -->
    <!-- =========================== search_result ============================== -->
    <div class="search_rslt_outer_part">
      <div class="container">
        <div class="row">
          <div class="serch_txt_1 col-md-2 col-sm-4">
            <!-- <a href="#">Home <i class="fa fa-angle-right"></i> Kitchen <i class="fa fa-angle-right"></i> <span>Faucets</span> </a> -->
            <div id="custom-search-input">
              <div class="input-group col-md-12">
                <span class="input-group-btn">
                  <button class="btn btn-danger" type="button">
                    <span class=" glyphicon glyphicon-search"></span>
                  </button>
                </span>
                <input type="text" class="search-query form-control" placeholder="Search" ng-model="productCategorylist">
              </div>
            </div>
            <div id="content-1" class="content">
              <!-- ================= check_group ======================== -->
              <div class="mnu_dv">
                <div class="heading_name">Categories</div>
                <ul>
                  <li class="mnupic_smll checkbox checkbox-danger" ng-repeat="product in product_categories| filter: productCategorylist">
                    <input class="styled chkPassport" type="checkbox" ng-click="get_category_product(product.Id, $event)" ng-if="product.Id == current_url_id"
                      checked>
                    <input class="styled chkPassport" type="checkbox" ng-click="get_category_product(product.Id, $event)" ng-if="product.Id != current_url_id">
                    <label for=""> {{ product.Name }} </label>
                  </li>

                </ul>
              </div>
              <!-- ================= end Check_group =====================  -->
              <!-- ================= check_group ======================== -->
              <div class="mnu_dv">
                <div class="heading_name">Brand</div>
                <ul>
                  <li class="mnupic_smll checkbox checkbox-danger" ng-repeat="brands in allBrands">
                    <input class="styled chkPassport" type="checkbox">
                    <label for=""> {{ brand.ManufacturerName }} </label>
                  </li>

                </ul>
              </div>
              <!-- ================= end Check_group =====================  -->
              <!-- ================= check_group ======================== -->
              <div class="mnu_dv_1">
                <!--   <div class="heading_name">Price Range</div>
            <div class="rs_range">
             <input name="" value="" type="text">
              -
              <input name="" value="" type="text">
            </div>
          </div>  -->
              </div>
              <!-- ================= end Check_group =====================  -->
            </div>
          </div>
          <div class="search_result_rightpart_1 col-md-10 col-sm-8">
            <h5>{{ numberOfProducts }}</h5>
            <div class="well well-sm">

              <!--<span>Sort by</span>
          <div class="short_by dropdown">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Featured <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
          </div> -->
              <div class="btn-group">
                <a href="#" id="grid" class="btn btn-default btn-sm" ng-click="createClass('grid-group-item')">
                  <span class="glyphicon glyphicon-th"></span>Grid</a>
                <a href="#" id="list" class="btn btn-default btn-sm" ng-click="createClass('list-group-item')">
                  <span class="glyphicon glyphicon-th-list"></span>List</a>
              </div>
            </div>
            <!-- Tab panes -->
            <div class="">
              <div class="lodingproduct" ng-if="is_loading == 0">
                <img src="images/Loading_icon.gif" alt="">
              </div>
              <div id="products" class="row list-group">
                <!-- ===================== grid_list ================== -->
                <div class="item col-xs-12 col-lg-3 {{ class_name }}" ng-if="product_data.length == 0 && is_loading == 1">

                  <b>Sorry , No Product Found </b>

                </div>

                <div class="item col-xs-12 col-lg-3 {{ class_name }}" ng-if="is_loading == 0">

                  <p>{{ loading_text }}</p>


                </div>

                <div class="item col-xs-12 col-lg-3 {{ class_name }}" ng-repeat="products in product_data">

                  <div class="thumbnail">
                    <a href="product-page.html?product_id={{ products.product.Id }}">
                      <img class="group list-group-image" src="{{ products.product.PictureThumbnailUrl }}" alt="" ng-if="products.product.PictureThumbnailUrl != null">
                      <img class="group list-group-image" src="images/noImages.png" alt="" ng-if="products.product.PictureThumbnailUrl == null"
                        height="50" width="75">
                    </a>
                    <div class="caption">
                      <h4 class="group inner list-group-item-heading"></h4>
                      <h6>
                        <a href="product-page.html?product_id={{ products.product.Id }}" title="{{  products.product.Name  }}">{{ products.product.Name | cut:true:15:' ...' }}</a>
                      </h6>
                      <p class="group inner list-group-item-text">{{ products.product.ProductTypeName}}</p>
                      <div class="row">
                        <div class="col-xs-12 col-md-12">
                          <p class="lead">
                            <i class="fa fa-inr" aria-hidden="true"></i>{{ products.product.Price  | number:0}}</p>
                        </div>

                        <div class="add_cart" ng-if="products.product.StockQuantity !== 0">

                          <a href="javascript:void(0)" ng-click="addToList(products.product.Id)">+ ADD TO CART</a>

                        </div>

                        <div class="add_cart" ng-if="products.product.StockQuantity === 0">

                          <a href="javascript:void(0)">Out of Stock</a>

                        </div>


                      </div>
                    </div>
                  </div>

                  <br>

                  <div class="clear"></div>

                </div>
                <div class="col-sm-12 text-center">
                  <button type="button" class="load_more btn btn-primary btn-lg" ng-if="product_data.length != totalProducts" ng-click="loadProducts()"
                    data-loading-text="<i class='fa fa-spinner fa-spin '></i> WORKING ON IT">Load More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- CART SUCCESSFULL ADDITION MESSAGE -->

      <div class="modal fade" id="success_modal" role="dialog">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Address</h4>
            </div>
            <div class="modal-body">
              <p style="color:green" ng-bind-html="message"></p>
            </div>

          </div>
        </div>
      </div>




      <!-- END HERE -->





      <!-- ========================= end search_result =========================== -->
      <!-- =========================== footer ================= -->
      <ng-include src="'footer.html'"></ng-include>


      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
      <script type="text/javascript" src="js/frontend/app.js"></script>
      <script type="text/javascript" src="js/frontend/headerController.js"></script>
      <script type="text/javascript" src="js/frontend/common.js"></script>
      <script type="text/javascript" src="js/frontend/productResultController.js"></script>
      <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
      <!-- =========================== end_footer ================= -->
      <!-- ============= js  =============== -->

      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/npm.js"></script>
      <!-- custom scrollbar plugin -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/load_more_animation.js"></script>
      <script type="text/javascript">
        $(document).ready(function () {
          $('.dropdown-submenu a.test').on("click", function (e) {
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
          });

          $('.dropdown-submenu a.test_1').on("click", function (e) {
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
          });



        });
      </script>
      <script type="text/javascript">
        //paste this code under head tag or in a seperate js file.
        // Wait for window load
        $(window).load(function () {
          // Animate loader off screen
          $(".se-pre-con").fadeOut("slow");
        });
      </script>
      <script type="text/javascript">
        (function ($) {
          $(window).load(function () {

            var content = $("#content-1"),
              autoScrollTimer = 8000,
              autoScrollTimerAdjust, autoScroll;

            content.mCustomScrollbar({
              scrollButtons: {
                enable: true
              },
              callbacks: {
                whileScrolling: function () {
                  autoScrollTimerAdjust = autoScrollTimer * this.mcs.topPct / 100;
                }

              }
            });


          });
        })(jQuery);
      </script>
      <script type="text/javascript">
        $(document).ready(function () {
          $('#list').click(function (event) {
            event.preventDefault();
            $('#products .item').addClass('list-group-item');
          });
          $('#grid').click(function (event) {
            event.preventDefault();
            $('#products .item').removeClass('list-group-item');
            $('#products .item').addClass('grid-group-item');
          });
        });
      </script>
      <script type="text/javascript">
        $(function () {
          $('.load_more').on('click', function () {
            var $this = $(this);
            $this.button('loading');
            setTimeout(function () {
              $this.button('reset');
            }, 3000);
          });
        });
      </script>
      <script type="text/javascript">
        $(window).load(function () {
          $(".se-pre-con").fadeOut("slow");
        });
      </script>

      <!-- ============= end_js  =============== -->
</body>

</html>