<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1">
  <meta name="format-detection" content="telephone=no">
  <title>Denmakers</title>
  <!-- ============= css =============== -->
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="css/responsive.css" rel="stylesheet" type="text/css">
  <link href="css/icons.css" rel="stylesheet" type="text/css">
  <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
</head>

<body class="dreamsale" ng-app="dreamsaleApp" ng-controller="sellRentController">
  <div class="se-pre-con"></div>

  <div>

    <!--  ====================== HEADER =========================== -->



    <ng-include src="'header.html'"></ng-include>







    <!--
<div class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>About DreamSALE</h3>
        Denmakers Solutions, a Total Solution provider in real estate sector, is India's first B2C & B2B commerce company for property consultancy & inspection, interiors, material procurement, handling & consultancy service. Founded in 2017, and headquartered in Kolkata, we offer e-procurement/ e-booking solution for buyers (from individuals to industry professionals and construction companies.) through our portal, we also connect them with wholesalers and manufacturers. Denmakers.in is a technology driven platform with over 1 lacs products & services listed on the website. The company has over 100 premium suppliers/Service providers catering to all the needs of the buyers.
As a marketplace provider, our core value is QDP (Quality materials/ services, competitive prices, timely delivery). With our robust vendor selection process we ensure genuine premium quality products and services at very competitive prices. We also have partnered with experienced and expert logistics providers to ensure timely and hassle free delivery.
Denmakers.in helps buyers and suppliers transact by providing platform to enable booking, procurement, logistics & fulfilment support, receivables & payables management, customer and vendor service and analytics.
Additionally, Denmakers Solutions partners with buyers and suppliers by helping them secure business financing options to procure property, materials, products, equipments, services and other project/ working capital related loans via its network of banks and NBFCs.<br><br>

<b>LEADERSHIP TEAM</b>

      </div>
    </div>
  </div>
</div>-->



    <div class="container">


      <div class="col-sm-12 col-md-8 col-md-offset-2 col-xs-12 ">
        <form action="" method="">
          <div class="bulkdjorder">

            <div class="col-sm-12 text-center">
              <h2>CONTACT DETAILS</h2>
            </div>

            <center>
              <p style="color:red">{{ message }}</p>
            </center>



            <div class="col-sm-6">
              <div class="form-group">
                <label>Name*:</label>
                <input type="text" class="form-control" id="telephone" placeholder="User Name" ng-model="name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Email*:</label>
                <input type="email" class="form-control" id="telephone" placeholder=" Email Address" ng-model="email_address">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Phone No.*:</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Phone Number" ng-model="phone_number" onkeypress="return validate(this , 'number')"
                  maxlength="13" minlength="10">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Alternative No:</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Alternative Number" ng-model="alternate_number">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>PROJECT NAME ( If applicable ):</label>
                <input type="text" class="form-control" id="telephone" placeholder="" ng-model="project_name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>BUILDER NAME ( If known ):</label>
                <input type="text" class="form-control" id="telephone" placeholder="" ng-model="builder_name">
              </div>
            </div>



            <div class="col-sm-6">
              <div class="form-group">
                <label>TYPE OF PROPERTY*:</label>
                <select ng-model="typeofproperty">
                  <option value="" selected style="display:none">Select</option>
                  <option value="Residential">Residential</option>
                  <option value="Commercial">Commercial</option>
                  <!--<option value="Select a service">Select a PROPERTY</option>
    <option value="Select a service">Select a PROPERTY</option>-->
                </select>
              </div>
            </div>



            <div class="col-sm-6">
              <div class="form-group">
                <label>TRANSACTION TYPE*:</label>
                <select ng-model="transactiontype">
                  <option value="" selected style="display:none">Select</option>
                  <option value="For Sale">For Sale</option>
                  <option value="For Rent">For Rent</option>
                  <option value="Either">Either</option>
                  <!--<option value="Select a service">Select a TRANSACTION </option>-->
                </select>
              </div>
            </div>

            <div class="col-sm-12 text-center">
              <h2>LOCATION</h2>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label> Area*:</label>
                <input type="text" class="form-control" id="telephone" placeholder="Area" ng-model="area">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label> Full Address*:</label>
                <input type="text" class="form-control" id="telephone" placeholder="Full Address" ng-model="fulladdress">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>City*:</label>
                <!-- <input type="text" class="form-control" id="telephone" placeholder="" ng-model="city"> -->
                <select ng-model="city">
                    <option value="" selected style="display:none">Select</option>
                  <option ng-repeat="city in citylist" value="{{city.Name}}">{{city.Name}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>State*:</label>
                <!-- <input type="text" class="form-control" id="telephone" placeholder="" ng-model="state"> -->
                <select ng-model="state">
                    <option value="" selected style="display:none">Select</option>
                  <option ng-repeat="state in statelist" value="{{state.Name}}">{{state.Name}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label> Pincode*:</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Pincode" ng-model="pincode" maxlength="7" onkeypress="return validate(this , 'number')">
              </div>
            </div>
            <div class="col-sm-12 text-center">
              <h2>PROPERTY DETAILS</h2>
            </div>
            <div class="col-sm-12 text-left">
              <h4>General</h4>
            </div>


            <div class="col-sm-6">
              <div class="form-group">
                <label>Property ownership type*:</label>
                <select ng-model="ownershiptype">
                    <option value="" selected style="display:none">Select</option>
                  <option value="Freehold">Freehold</option>
                  <option value="Co-operative Society">Co-operative Society</option>
                  <option value="Lease Hold">Lease Hold</option>
                  <option value="Power of Attorney">Power of Attorney</option>
                  <option value="Dont Know">Dont Know</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Total Floors in building:</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Total Floors in building" ng-model="TotalFloors" onkeypress="return validate(this , 'number')"
                  maxlength="10">
              </div>
            </div>

            <div class="col-sm-12 text-left">
              <h4>Specific</h4>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Unit Size(Super built-Up Area) * :</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Unit Size" ng-model="UnitSize" onkeypress="return validate(this , 'number')"
                  maxlength="5">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>No of Bedrooms:</label>
                <input type="tel" class="form-control" id="telephone" placeholder="No of Bedrooms" ng-model="No.ofBedrooms" maxlength="3"
                  onkeypress="return validate(this , 'number')">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>No of Bathrooms:</label>
                <input type="tel" class="form-control" id="telephone" placeholder="No of Bathrooms" ng-model="No.ofBathrooms" maxlength="3"
                  onkeypress="return validate(this , 'number')">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>No of Balconies:</label>
                <input type="tel" class="form-control" id="telephone" placeholder="No of Balconies" ng-model="No.ofBalconies" maxlength="3"
                  onkeypress="return validate(this , 'number')">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Parkings:</label>
                <input type="text" class="form-control" id="telephone" placeholder="Parkings" ng-model="Parkings">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Status of Project *:</label>
                <select ng-model="projectStatus">
                    <option value="" selected style="display:none">Select</option>
                  <option value="Ready to Move">Ready to Move</option>
                  <option value="Under Construction">Under Construction</option>
                  <!--<option value="Select a service">Lease Hold</option>
<option value="Select a service">Power of Attorney</option>
<option value="Select a service">Dont Know</option>-->
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Possession by(mm/yyyy):</label>
                <input type="text" class="form-control" id="telephone" placeholder="Possession by(mm/yyyy)" ng-model="Possession">
              </div>
            </div>

            <div class="col-sm-12 text-center">
              <h2>AMMENITIES INCLUDED</h2>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>No of Lifts:</label>
                <input type="tel" class="form-control" id="telephone" placeholder="No of Lifts" ng-model="No.ofLifts" maxlength="3" onkeypress="return validate(this , 'number')">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Power Backup:</label>
                <select ng-model="powerBackup">

                  <option value="" selected disabled>Please select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Intercom facility:</label>
                <select ng-model="IntercomFacility">
                  <option value="" selected disabled>Please select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Fire Alarm:</label>
                <select ng-model="fireAlarm">
                  <option value="" selected disabled>Please select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>

                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Visitors Parking:</label>
                <select ng-model="visitorsParking">
                  <option value="" selected disabled>Please select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>

                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Park:</label>
                <select ng-model="park">
                  <option value="" selected disabled>Please select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>

            <!--<div class="col-sm-6">
<div class="form-group">
<label>Tier of Security:</label>
<input type="text" class="form-control" id="telephone" placeholder="Tier of Security">
</div>
</div>-->

            <div class="col-sm-6">
              <div class="form-group">
                <label>Piped Gas Line:</label>
                <select ng-model="gasLine">
                  <option value="" selected disabled>Please select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Centrally Air Conditioned:</label>
                <select ng-model="CentrallyAirCondition">
                  <option value="" selected disabled>Please select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Water Treatment/softning Plant:</label>
                <select ng-model="waterTreament">
                  <option value="" selected disabled>Please select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Swimming Pool:</label>
                <select ng-model="swimmingPool">
                  <option value="" selected disabled>Please select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Gymnasium:</label>
                <select ng-model="gymnasium">
                  <option value="" selected disabled>Please select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Community hall:</label>
                <select ng-model="communityHall">
                  <option value="" selected disabled>Please select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Club House:</label>
                <select ng-model="clubHouse">
                  <option value="" selected disabled>Please select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Commercial Center attached:</label>
                <select ng-model="commercialAttached">
                  <option value="" selected disabled>Please select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Water Source:</label>
                <select ng-model="waterSource">
                  <option value="Municipal Corporations">Municipal Corporations</option>
                  <option value="Borwell">Borwell</option>
                  <option value="Both">Both</option>
                  <option value="Others">Others</option>
                  <!--<option value="Select a service">Dont Know</option>-->
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Flooring Provided:</label>
                <select ng-model="floor">
                    <option value="" selected style="display:none">Select</option>
                  <option value="Vetrified">Vetrified</option>
                  <option value="Marble">Marble</option>
                  <option value="Ceramic">Ceramic</option>
                  <option value="Mosiac">Mosiac</option>
                  <option value="Granite">Granite</option>
                  <option value="Cement">Cement</option>
                  <option value="Wooden">Wooden</option>
                  <option value="Others">Others</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>CCTV Surveillance:</label>
                <select ng-model="CCTV">
                  <option value="" selected disabled>Please select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Others (if Any):</label>
                <input type="text" class="form-control" id="telephone" placeholder="Specify if yes" ng-model="otherRequired">
              </div>
            </div>

            <div class="col-sm-12 text-center">
              <h2>PRICING</h2>
            </div>
            <div class="col-sm-12 text-left">
              <h4>Basic</h4>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>All Inclusive price *:</label>
                <input type="tel" class="form-control" id="telephone" placeholder="All Inclusive price" ng-model="inclusivePrice" maxlength="10"
                  onkeypress="return validate(this , 'number')">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Other charges (if Any):</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Specify if yes" ng-model="otherChareges" maxlength="10"
                  onkeypress="return validate(this , 'number')">
              </div>
            </div>
            <div class="col-sm-12 text-left">
              <h4>Advanced</h4>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Base Price/sqft (SBU):</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Base Price/sqft (SBU)" ng-model="SBUprice" maxlength="10"
                  onkeypress="return validate(this , 'number')">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Base Price/sqft (BU):</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Base Price/sqft (BU)" ng-model="BUprice" maxlength="10"
                  onkeypress="return validate(this , 'number')">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Maintenance rate:</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Maintenance rate" ng-model="maintenanceRate" maxlength="10"
                  onkeypress="return validate(this , 'number')">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Floor Escalation :</label>
                <input type="text" class="form-control" id="telephone" placeholder="Floor Escalation " ng-model="floorEscalation">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Location PLC:</label>
                <input type="text" class="form-control" id="telephone" placeholder="Location PLC" ng-model="locationPLC">
              </div>
            </div>


            <div class="col-sm-6">
              <div class="form-group">
                <label>Car Parking :</label>
                <select ng-model="carParkinCharge">
                    <option value="" selected style="display:none">Select</option>
                  <option value="Open">Open </option>
                  <option value="Covered">Covered </option>
                  <option value="Basement">Basement</option>
                  <option value="Others">Others (if Any) </option>
                </select>
              </div>
            </div>


            <div class="col-sm-6">
              <div class="form-group">
                <label>Developmental Charges(like EDC etc):</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Developmental Charges(like EDC etc)" ng-model="developmentalCharge"
                  onkeypress="return validate(this , 'number')" maxlength="10">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Maintenance Deposit:</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Maintenance Deposit" ng-model="maintenanceDeposit" maxlength="10"
                  onkeypress="return validate(this , 'number')">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Club Membership Charges:</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Club Membership Charges" ng-model="clubMembershipCharges"
                  maxlength="7" onkeypress="return validate(this , 'number')">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Amenities Charges like intercom, water etc:</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Amenities Charges " ng-model="amenitiesCharges" maxlength="5"
                  onkeypress="return validate(this , 'number')">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Power Backup Charges:</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Power Backup Charges" ng-model="powerBackupCharges" maxlength="5"
                  onkeypress="return validate(this , 'number')">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Infrastructural Charges like fire fighting etc:</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Infrastructural Charges" ng-model="infrastructuralCharges"
                  maxlength="7" onkeypress="return validate(this , 'number')">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Taxes & government Charges:</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Taxes & government Charges" ng-model="TaxesGovernmentCharges"
                  maxlength="10" onkeypress="return validate(this , 'number')">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Other charges (if Any):</label>
                <input type="text" class="form-control" id="telephone" placeholder="Specify if yes" ng-model="otherPrice">
              </div>
            </div>

            <div class="col-sm-12 text-center">
              <h2>FINANCIALS</h2>
            </div>

            <!--<div class="col-sm-6">
<div class="form-group">
<label>Booking Amount:</label>
<input type="tel" class="form-control" id="telephone" placeholder="Booking Amount" maxlength="10" onkeypress = "return validate(this , 'number')">
</div>
</div>

<div class="col-sm-6">
<div class="form-group">
<label>Payment schedule:</label>
<input type="text" class="form-control" id="telephone" placeholder="Payment schedule">
</div>
</div>

<div class="col-sm-6">
<div class="form-group">
<label>Loan facilities Available:</label>
<input type="text" class="form-control" id="telephone" placeholder="Loan facilities Available">
</div>
</div>

<div class="col-sm-6">
<div class="form-group">
<label>Loan Faclitators (if Yes):</label>
<input type="text" class="form-control" id="telephone" placeholder="Loan Faclitators ">
</div>
</div>-->

            <div class="col-sm-6">
              <div class="form-group">
                <label>Nomination Charges (if any):</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Nomination Charges " ng-model="nominationCharges" maxlength="8"
                  onkeypress="return validate(this , 'number')">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Price Negotiable *:</label>
                <select ng-model="priceNegotiable">
                  <option value="" selected disabled>Please select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>

            <!--<div class="col-sm-6">
<div class="form-group">
<label>Brokerage offered:</label>
<input type="text" class="form-control" id="telephone" placeholder="Brokerage offered">
</div>
</div>-->

            <div class="col-sm-6">
              <div class="form-group">
                <label>PROPERTY PICTURES:</label>
                <input type="file" class="form-control" ng-model="propertyPic">
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group">
                <label>OTHER INFORMATIONS (if any):</label>
                <textarea placeholder="" ng-model="otherInformation"></textarea>
              </div>
            </div>


            <div class="col-sm-12">
              <a href=" " class="btn btn-warning submit" ng-click="submitForm()">SUBMIT</a>
              <p style="color:red">{{ message }}</p>
            </div>


          </div>
        </form>
      </div>




    </div>





    <!-- =========================== end-about_dreamsale ================= -->
    <!-- =========================== footer ================= -->
    <ng-include src="'footer.html'"></ng-include>
    <!-- =========================== end_footer ================= -->

  </div>

  <!-- ============= js  =============== -->

  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/npm.js"></script>
  <script type="text/javascript" src="js/jquery.carouFredSel-6.2.1.js"></script>

  <script type="text/javascript">
    //paste this code under head tag or in a seperate js file.
    // Wait for window load
    $(window).load(function () {
      // Animate loader off screen
      $(".se-pre-con").fadeOut("slow");
    });
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
  <script type="text/javascript" src="js/frontend/app.js"></script>
  <script type="text/javascript" src="js/frontend/headerController.js"></script>
  <script type="text/javascript" src="js/frontend/sellRentController.js"></script>
  <script type="text/javascript" src="js/angular-sanitize.min.js"></script>


  <script type="text/javascript">
    $(document).ready(function () {
      $('.dropdown-submenu a.test').on("click", function (e) {
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
      });

      $('.dropdown-submenu a.test_1').on("click", function (e) {
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
      });



    });
  </script>
  <!-- testimonials_slide -->
  <script type="text/javascript">
    $(window).load(function () {


      $('ul.cl_gslider_sec').carouFredSel({
        auto: false,
        responsive: true,
        width: '100%',
        prev: '.prv_btn1_cxw',
        next: '.nxt_btn1_cxw',
        scroll: 1,

        items: {
          height: 'variable',
          visible: {
            max: 1,
            min: 1
          }
        }
      })

    });
  </script>
  <!-- testimonials_slide -->
  <!-- ================= marquee ================ -->
  <script type="text/javascript">
    $(function () {
      $('marquee').mouseover(function () {
        $(this).attr('scrollamount', 0);
      }).mouseout(function () {
        $(this).attr('scrollamount', 5);
      });

    });
  </script>

  <!-- ================== end marquee =================== -->
  <!-- ============= end_js  =============== -->

</body>

</html>