<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="google-signin-client_id" content="859852954609-m78vvbl7vfq6g4t511460o2l1carjttq.apps.googleusercontent.com">
<title>Denmakers</title>
<!-- ============= css =============== -->
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/responsive.css" rel="stylesheet" type="text/css">
<link href="css/icons.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<!--[if IE]><style type="text/css">.pie {behavior:url(PIE.htc);}</style><![endif]-->
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>



<script>

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     // js.src = "https://connect.facebook.net/en_US/sdk.js";
     js.src = "https//connect.facebook.net/pl_PL/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));





   window.fbAsyncInit = function() {
    FB.init({
      appId            : '1992491074353477',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.11'
    });
  };


</script>



<!-- ============= css =============== -->
<!-- =========================== google_font ===================== -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- ============================ end_Googlefont ==================== -->
<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/html5element.js"></script>
    <script src="js/respond-1.1.0.min.js"></script>
<![endif]-->
</head>
<body class="dreamsale"  ng-app="dreamsaleApp">

  <div id="fb-root"></div>
<!--  ====================== HEADER =========================== -->
<ng-include src="'header.html'"></ng-include>
<!--  ====================== End_HEADER =========================== -->
<!-- =========================== signin_signup form ============================== -->
<div class="container">
  <div id="loginbox" class="cstm_sing mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" ng-controller="loginController">
    <div class="panel panel-info" >
      <div class="form_panel-heading">
        <div class="panel-title">Sign In</div>
      </div>
      <center><p style="color:red">{{ login_message }}</p>
      <div style="padding-top:30px" class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form id="loginform" class="form-horizontal" role="form">
          <div class="form-group">
            <label for="firstname" class="col-md-2 col-xs-2 control-label"><i class="fa fa-envelope-open"></i></label>
            <div class="col-md-10 col-xs-10">
              <input type="text" class="form-control"  placeholder="E-mail Id" ng-model="login_email" name="email" autocomplete="email" my-enter="makeLogin('test')">
            </div>
          </div>
          <div class="form-group">
            <label for="firstname" class="col-md-2 col-xs-2 control-label"><i class="glyphicon glyphicon-lock"></i></label>
            <div class="col-md-10 col-xs-10">
              <input type="password" class="form-control" name="Password" placeholder="Password" ng-model="login_password" my-enter="makeLogin('test')">
            </div>
          </div>

          <div class="form-group">

            <div class="col-md-10 col-xs-10 col-md-offset-2 text-left">
                <input name="" id="" type="checkbox" ng-model="login_remeber"> Remember Me
            </div>
          </div>

          <div class="form-group">
           <div class="col-md-offset-2 col-md-10 controls"><a class="forgot-pass" href="#" onClick="$('#loginbox').hide(); $('#forgetPasswordBox').show() ;  $('#signupbox').hide()">Forgot password?</a></div>
          </div>



          <div class="form-group" ng-controller="registerController">
            <!-- Button -->
            <div class="col-md-offset-2 col-md-10 controls"> <a id="btn-login" href="#" class="btn btn-danger" ng-click="makeLogin('test')">Login </a>
            	<a id="btn-login" href="#" class="btn btn-primary sub-btns" ng-click="FBlogin()"><i class="fa fa-facebook"></i>  </a>


               <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->

                <a id="btn-login" href="#" onclick="testVal()" class="btn btn-meine sub-btns g-signin2" data-onsuccess="onSignIn"><i class="fa fa-google-plus"></i>  Login with google  </a>



             </div>
          </div>
          <div class="form-group">
            <div class="signup_hr col-md-offset-2 col-md-10 control">
              <div class="sihnup_hr"><a href="#" onClick="$('#loginbox').hide(); $('#forgetPasswordBox').hide() ;  $('#signupbox').show()"> Register an account? </a> </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>







  <!-- FORGET PASSWORD BOX -->


  <div id="forgetPasswordBox" class="cstm_sing mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" ng-controller="registerController">
    <div class="panel panel-info" >
      <div class="form_panel-heading">
        <div class="panel-title">Forgot Password</div>

        <center><p style="color:green">{{ message }}</p></center>

      </div>
      <center>
      <div style="padding-top:30px" class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form id="loginform" class="form-horizontal" role="form">
          <div class="form-group">
            <label for="firstname" class="col-md-2 col-xs-2 control-label"><i class="fa fa-envelope-open"></i></label>
            <div class="col-md-10 col-xs-10">
              <input type="text" class="form-control"  placeholder="E-mail Id" ng-model="forgetEmail" name="email" autocomplete="email" my-enter="forgetPassword('test')">
            </div>
          </div>



          <div class="form-group">
            <!-- <div class="col-md-offset-2 col-md-10 controls"><a class="forgot-pass" href="#">Forgot password?</a></div> -->
          </div>

          <div class="form-group">
            <!-- Button -->
            <div class="col-md-offset-2 col-md-10">
              <button id="btn-signup" type="button" class="btn btn-danger" ng-click="forgetPassword()">Send Email</button>
            </div>
          </div>


          <div class="form-group">
            <div class="signup_hr col-md-offset-2 col-md-10 control">
              <div class="sihnup_hr"><a href="#" onClick="$('#loginbox').show(); $('#forgetPasswordBox').hide() ; $('#signupbox').hide()"> Back to Login </a> </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>














  <!-- END HERE -->



















  <div id="signupbox" style="display:none;" class="cstm_sing mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" ng-controller="registerController">
    <div class="panel panel-info">
      <div class="form_panel-heading">
        <div class="panel-title">Sign Up</div>
        <center><p style="color:{{color}}">{{ status }}</p></center>
      </div>

      <div class="panel-body" >
        <form id="signupform" class="form-horizontal" role="form">
          <div id="signupalert" style="display:none" class="alert alert-danger">
            <p>Error:</p>
            <span></span> </div>

          <div class="form-group">
            <label for="firstname" class="col-md-2 col-xs-2 control-label"><i class="fa fa-envelope-open"></i></label>
            <div class="col-md-10 col-xs-10">
              <input type="text" class="form-control"  placeholder="E-mail Id" ng-model="email" name="email" autocomplete="email">
              <p style="color:red">{{ emailValidationerror }}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-md-2 col-xs-2 control-label"><i class="fa fa-unlock-alt"></i></label>
            <div class="col-md-10 col-xs-10">
              <input type="password" class="form-control" name="password" placeholder="Password" ng-model="password">
              <p style="color:red">{{ passwordValidationError }}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="lastname" class="col-md-2 col-xs-2 control-label"><i class="fa fa-unlock-alt"></i></label>
            <div class="col-md-10 col-xs-10">
              <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" ng-model="confirm_password" my-enter="createCustomer()">
              <p style="color:red">{{ confirmPasswordValidationError }}</p>
            </div>
          </div>



          <div class="form-group">
            <!-- Button -->
            <div class="col-md-offset-2 col-md-10">
              <button id="btn-signup" type="button" class="btn btn-danger" ng-click="createCustomer()"> &nbsp Sign Up</button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10"> <a id="signinlink" href="#" onClick="$('#signupbox').hide(); $('#forgetPasswordBox').hide() ; $('#loginbox').show()">Already have an account?</a> </div>
          </div>
          <div class="form-group">

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ========================= end signin_signup form =========================== -->
<!-- =========================== footer ================= -->
  <ng-include src="'footer.html'"></ng-include>

<script type="text/javascript" src="https://connect.facebook.net/en_us/sdk.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
<script type="text/javascript" src="js/frontend/app.js"></script>
<script type="text/javascript" src="js/frontend/headerController.js"></script>
<script type="text/javascript" src="js/frontend/loginController.js"></script>
<script type="text/javascript" src="js/frontend/registerController.js"></script>
<script type="text/javascript" src="js/angular-sanitize.min.js"></script>
<!-- =========================== end_footer ================= -->
<!-- ============= js  =============== -->

<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/npm.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('#forgetPasswordBox').hide();
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });

   $('.dropdown-submenu a.test_1').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });



});
</script>

<script type="text/javascript">
//paste this code under head tag or in a seperate js file.
 // Wait for window load
  $(window).load(function()
  {
  // Animate loader off screen
  $(".se-pre-con").fadeOut("slow");
  });
</script>

<!-- ============= end_js  =============== -->
</body>
</html>
