<!--  ====================== HEADER =========================== -->
<header ng-controller="headerController">
  <div class="container">
    <div class="row">
      <!-- =============== logo_section ================ -->
      <div class="col-md-2 col-sm-2">
        <div class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
      </div>
      <!-- =============== End_logo_section ================ -->
      <!-- ================ right_header ================== -->
      <div class="col-md-10 col-sm-10">
        <div class="right_header">
          <!-- ====================== top_contact ========================= -->
          <div class="top_right_header"> <i class="fa fa-phone-square" aria-hidden="true"></i>Contact us : +91 80 2382 2387  |   +91 80 2399 2380 </div>
          <!-- ====================== end_top_contact ========================= -->
          <div class="clear"></div>
          <!-- =============== product_dropdown ======================= -->
          <div class="product_dropdown dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Products <span class="caret"></span></button>
            <ul class="dropdown-menu">
            <!--  <li><a tabindex="-1" href="#">Product_1</a></li>
              <li><a tabindex="-1" href="#">Product_2</a></li>
              <li class="dropdown-submenu"> <a class="test" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                  <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                  <li class="dropdown-submenu"> <a class="test" href="#">Another dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">3rd level dropdown</a></li>
                      <li><a href="#">3rd level dropdown</a></li>
                    </ul>
                  </li>
                </ul>
              </li>  -->

                 <li ng-repeat="product in product_categories">
                   
                  <a tabindex="-1" href="#" ng-click="get_category_product(product.Id)">{{ product.Name }}</a>
                  
                </li>
          <!-- <li ng-repeat="product in product_categories"><a tabindex="-1" href="#" ng-click="static_data_add()">{{ product.Name }}</a></li>   -->
            </ul>
          </div>
          <!-- =============== End_product_dropdown ======================= -->
          <!-- =============== Services_dropdown ======================= -->
          <div class="Services_dropdown dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Services <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a tabindex="-1" href="#">Services_1</a></li>
              <li><a tabindex="-1" href="#">Services_1</a></li>
              <li class="dropdown-submenu"> <a class="test_1" tabindex="-1" href="#">New dropdown <!-- <span class="caret"></span> --> </a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                  <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                 <!-- <li class="dropdown-submenu"> <a class="test_1" href="#">Another dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">3rd level dropdown</a></li>
                      <li><a href="#">3rd level dropdown</a></li>
                    </ul>
                  </li> -->
                </ul>
              </li>
            </ul>
          </div>
          <!-- =============== End_Services_dropdown ======================= -->
          <!-- ========================= search ========================== -->
          <div class="headr_search">
            <div class="input-group stylish-input-group">
              <input type="text" class="form-control"  placeholder="Search" ng-model="search_products">
              <span class="input-group-addon">
              <button type="submit" ng-click="getProducts(search_products)"> <span class="glyphicon glyphicon-search"></span> </button>
              </span> </div>
          </div>
          <!-- ========================= end search ========================== -->
          <!-- ========================= signin_list ========================== -->
          <div class="signin_list">
            <ul>
              <li><a href="supply_register.html">Are you a seller?</a></li>
              <li><a href="signin.html">Sign in</a></li>
              <li><a href="#">Cart ( 0 )</a></li>
            </ul>
          </div>
          <!-- ========================= signin_list ========================== -->
        </div>
      </div>
      <!-- ================ end_right_header ================= -->
    </div>
  </div>
</header>
